<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>会文件</title>
    <link rel="shortcut icon" href="../assets-home/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../assets-home/css/home.css">
</head>

<body>

<div class="banner">
    <div class="diff">
        <div class="content">
            <div class="head-bar clearfix">
                <div class="pull-left">
                    <span>logo</span>
                    <a>首页</a>
                    <a>费用中心</a>
                </div>
                <div class="pull-right">
                    <a class="btn">立即使用</a>
                </div>
            </div>

            <div class="nav-con">
                <h2 class="navhh" id="navhh">15分钟创建你的专属移动网页</h2>
                <div class="nav-move">
                    <p>遇见下一代移动展示,发布会级的效果,全方位呈现你的效果</p>
                    <a class="btn">免费体验</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="home-fit">
    <div class="content">
        <h3>为什么要用会文件</h3>
        <table>
            <tr>
                <td>
                    <img src="../assets-home/images/h1100.png" alt="">
                    <p>简单的编辑</p>
                    <p>个性的呈现</p>
                    <span>轻松展示你想要的内容</span>
                </td>

                <td>
                    <img src="../assets-home/images/h1101.png" alt="">
                    <p>轻松一扫</p>
                    <p>快速浏览所有内容</p>
                    <span>你能感受到观众发自内心的喜悦</span>
                </td>
                <td>
                    <img src="../assets-home/images/h1102.png" alt="">
                    <p>无论图片还是文档</p>
                    <p>都能完美呈现</p>
                    <span>瀑布流的展示,让观众专注于你的内容</span>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="home-bring">
    <div class="content">
        <h3>会文件能带来什么</h3>
        <p class="warn">无论是企业展示、行业会展、Meetfile会文件为你的内容插上翅膀,快速传播</p>

        <div class="explain clearfix">
            <div class="pull-left">
                <div class="top">
                    <h4>对于主办方</h4>
                    <p>三步创建移动页面,快速传播你的内容</p>
                </div>
                <div class="bottom">
                    <h4>对于访问者</h4>
                    <p>告别死板内容,像刷头条一样轻松阅读</p>
                </div>
            </div>
            <div class="pull-right">
                <img src="../assets-home/images/h02.png" alt="">
            </div>
        </div>
        <ul>
            <li>
                <a>
                    <img src="../assets-home/images/1201.png" alt="">
                    <!--<p>资料快速分发</p>-->
                </a>
            </li>
            <li>
                <a>
                    <img src="../assets-home/images/1202.png" alt="">
                    <!--<p>社群化的互动分享</p>-->
                </a>
            </li>
            <li>
                <a>
                    <img src="../assets-home/images/1203.png" alt="">
                    <!--<p>功能主题多样化</p>-->
                </a>
            </li>
            <li>
                <a>
                    <img src="../assets-home/images/1204.png" alt="">
                    <!--<p>创新的移动推广</p>-->
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="home-step">
    <h3>面向主办方、参展方和观众的数字化服务体系</h3>
    <p class="warn">无论是企业展示、行业会展,Meetfile会文件为你的内容插上翅膀,快速传播</p>
    <div class="row">
        <div class="col">
            <img src="../assets-home/images/1301.png" alt="">
            <h5>降低物料与时间双重成本</h5>
            <p>模块化设计，直观的操作体验</p>
            <p>手机上的资料入袋、可移动的电子易拉宝</p>
            <p>活动、展会、公司资讯便捷发布，随时更新</p>
        </div>

        <div class="col">
            <img src="../assets-home/images/1302.png" alt="">
            <h5>简单几步，轻松建立属于你的微站</h5>
            <p>操作简单，15分钟创建一个展示定制内容的站点</p>
            <p>使用者只需扫一扫，即可查看所有展览信息，轻松阅读</p>
            <p>提升展会/企业品牌形象，内容丰富、随时更新、形式多样化</p>
        </div>

        <div class="col">
            <img src="../assets-home/images/1303.png" alt="">
            <h5>移动互联网时代的内容病毒式传播</h5>
            <p>支持会议资料的在线查看</p>
            <p>随时分享，一键收藏，会议结束，传播不止。</p>
            <p>对接微信公众号，无止境的二次传播</p>
        </div>

        <div class="col">
            <img src="../assets-home/images/1304.png" alt="">
            <h5>高级定制服务专享</h5>
            <p>定制专属展会LOGO</p>
            <p>定制专属封面、Banner、专题信息</p>
            <p>一键资料收集、对接企业云盘，办展更省时</p>
        </div>
    </div>
</div>

<div class="home-solution">
    <div class="content">
        <h3>Meetingfile解决方案</h3>
        <img src="../assets-home/images/h01.png" alt="">
        <table>
            <tr>
                <td>
                    <h5>展示前资料信息准备</h5>
                    <p>资料上传/信息发布/企业资讯发布及更新</p>
                    <p>推广、邀约、分享</p>
                </td>

                <td>
                    <h5>展示与互动</h5>
                    <p>内容随时更新</p>
                    <p>及时资料分发</p>
                </td>

                <td>
                    <h5>积累知识库,二次传播</h5>
                    <p>展示后资料易收集/媒体报道统一展示/</p>
                    <p>展示内容累积知识库/展示内容二次传播</p>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="home-footer">
    <div class="diff">
        <div class="content">
            <p class="warn">现在注册,即可享受新手专属优惠礼包</p>
            <a class="btn">立即注册</a>

        </div>
    </div>
</div>
<div class="footer-black">

    <div class="content contact">
        <p class="company">够快科技股份有限公司</p>
        <p>地点:上海市浦东新区张江高科 498 号浦东软件园 12 号楼 402 &nbsp;&nbsp; 电话:400-888-8888 &nbsp;&nbsp; 邮箱:website@qq.com</p>
    </div>
</div>

<script type="text/javascript" src="../assets-home/script/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../assets-home/script/move.js"></script>
<script type="text/javascript" src="../assets-home/script/home.js"></script>
</body>

</html>