.sort_pdf {
  //background: url("../../../app/pages/images/icon_pdf.png") no-repeat;
  background: url("../../images/icon_1.png") no-repeat;
}

.sort_img {
  //background: url("../../../app/pages/images/icon_png.png") no-repeat;
  background: url("../../images/icon_2.png") no-repeat;
}

.sort_photo {
  //background: url("../../../app/pages/images/icon_jpg.png") no-repeat;
  background: url("../../images/icon_3.png") no-repeat;
}

.sort_ppt {
  //background: url("../../../app/pages/images/icon_ppt.png") no-repeat;
  background: url("../../images/icon_4.png") no-repeat;
}

.sort_document {
  //background: url("../../../app/pages/images/icon_doc.png") no-repeat;
  background: url("../../images/icon_5.png") no-repeat;
}

.sort_otherdoc {
  //background: url("../../../app/pages/images/icon_txt.png") no-repeat;
  background: url("../../images/icon_6.png") no-repeat;
}

.sort_table {
  //background: url("../../../app/pages/images/icon_xls.png") no-repeat;
  background: url("../../images/icon_7.png") no-repeat;
}

.sort_draw {
  //background: url("../../../app/pages/images/icon_psd.png") no-repeat;
  background: url("../../images/icon_8.png") no-repeat;
}

.sort_audio {
  background: url("../../images/icon_9.png") no-repeat;
  //background: url("../../../app/pages/images/icon_mp3.png") no-repeat;
}

.sort_video {
  //background: url("../../../app/pages/images/icon_mp4.png") no-repeat;
  background: url("../../images/icon_10.png") no-repeat;
}

.sort_comment {
  //background: url("../../../app/pages/images/icon_unknow.png") no-repeat;
  background: url("../../images/icon_10.png") no-repeat;
}

.reg_user {
  background: url("../../images/1124.png") no-repeat;
}

.reg_firm {
  background: url("../../images/1122.png") no-repeat;
}

.reg_code {
  background: url("../../images/1121.png") no-repeat;
}

.reg_mobile {
  background: url("../../images/1125.png") no-repeat;
}

.reg_incode {
  background: url("../../images/1123.png") no-repeat;
}

//滚动条
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 1px;
  background-color: #E8E8E8;
}

::-webkit-scrollbar-thumb {
  background-color: #c3c3c3;
  -webkit-border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ADADAD;
}

::-webkit-scrollbar-thumb:active {
  background-color: #888888;
}

::-webkit-scrollbar-thumb:vertical {
  min-height: 40px;
}

::-webkit-scrollbar-thumb:horizontal {
  min-width: 40px;
}

::-webkit-scrollbar-button:vertical {
  /*height: 3px*/
}

::-webkit-scrollbar-button:horizontal {
  /*width: 3px;*/
}

//滑动按钮样式

@mixin borderRadius($radius:20px) {
  border-radius: $radius;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

$duration: .4s;
$checkedColor: #64bd63;
.mui-switch {
  width: 56px;
  height: 28px;
  position: relative;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  @include borderRadius();
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none;
  &:before {
    content: '';
    width: 26px;
    height: 26px;
    position: absolute;
    top: 0px;
    left: 0;
    @include borderRadius();
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  }
  &:checked {
    border-color: $checkedColor;
    box-shadow: $checkedColor 0 0 0 16px inset;
    background-color: $checkedColor;
    &:before {
      left: 28px;
    }
  }
  &.mui-switch-animbg {
    transition: background-color ease $duration;
    &:before {
      transition: left 0.3s;
    }
    &:checked {
      box-shadow: #dfdfdf 0 0 0 0 inset;
      background-color: $checkedColor;
      transition: border-color $duration, background-color ease $duration;
      &:before {
        transition: left 0.3s;
      }
    }

  }
  &.mui-switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) $duration, box-shadow cubic-bezier(0, 0, 0, 1) $duration;
    &:before {
      transition: left 0.3s;
    }
    &:checked {
      box-shadow: $checkedColor 0 0 0 16px inset;
      background-color: $checkedColor;
      transition: border ease $duration, box-shadow ease $duration, background-color ease $duration*3;
      &:before {
        transition: left 0.3s;
      }
    }
  }
}

.eclipflow {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//常用文件五种样式集合
.ui_file_Modelstyle {
  list-style: none;
  padding: 0;
  li {
    a {
      cursor: pointer;
      background: #fff;
      position: relative;
      display: block;
      background: #fff;
      border-radius: 4px;
      margin: 10px 0px;
      overflow: hidden;
      font-size: 18px;
      color: #333;
      i {
        display: block;
        position: absolute;
        top: 3px;
        right: 5px;
        width: 20px;
        height: 20px;
        background: url("../../../assets/images/1233.png") no-repeat;
      }
      &:hover {
        text-decoration: none;
      }
    }
    .sl {
      img {
        width: 16.333%;
        display: inline-block;
        min-height: 56px;
      }
      div {
        @extend .eclipflow;
        width: 71.666%;
        display: inline-block;
        position: relative;
        top: 7px;
        padding-left: 5px;
      }
      .pull-right {
        display: inline-block;
        float: right;
        width: 24px;
        height: 24px;
        background: url(../../images/icon_more.png);
        background-size: 100% 100%;
        position: absolute;
        right: 10px;
        top: 16px;
      }

    }
    .sr {
      img {
        width: 16.333%;
        float: right;
        min-height: 56px;
      }
      div {
        @extend .eclipflow;
        width: 82%;
        float: left;
        position: relative;
        top: 15px;
        padding-left: 10px;
        color: #333;
      }
    }

    .bl {
      img {
        width: 27.777%;
        float: left;
        min-height: 96px;
      }
      div {
        float: right;
        width: 72%;
        padding: 10px;
        h5 {
          font-size: 22px;
          @extend .eclipflow;
          width: 100%;
          margin-bottom: 5px;
        }
        p {
          font-size: 12px;
          color: #999;
          line-height: 22px;
          margin: 0;
          height: 44px;
          width: 68%;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          position: absolute;
          top: 45px;
        }

      }

    }
    .br {
      img {
        width: 27.777%;
        float: right;
        min-height: 96px;
      }
      div {
        float: left;
        width: 72%;
        padding: 10px;
        h5 {
          font-size: 22px;
          @extend .eclipflow;
          width: 100%;
          margin-bottom: 5px;
        }
        p {
          font-size: 12px;
          color: #999;
          line-height: 22px;
          margin: 0;
          height: 44px;
          width: 68%;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          position: absolute;
          top: 45px;
        }

      }

    }

    .cv {
      img {
        width: 100%;
      }
      div {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, .6);
        height: 56px;
        padding: 5px 10px;
        h5 {
          font-size: 18px;
          color: #fff;
          margin-bottom: 5px;
          @extend .eclipflow;
        }
        p {
          position: absolute;
          width: 95%;
          font-size: 14px;
          color: #bbb;
          bottom: -3px;
          left: 10px;
          @extend .eclipflow;
        }
      }
    }

  }

}

//分组样式
.ui_dir_Modelstyle {
  position: relative;
  border-radius: 8px;
  overflow: hidden;

  .diff {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
  .p1 {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .p2 {
    & > div {
      width: 50%;
      float: left;
      height: 140px;
    }
  }
  .p3 {
    .left, .right {
      float: left;
      width: 50%;
      height: 140px;
    }
    .right {
      width: 50%;
      img {
        width: 100%;
        height: 50%;
      }
    }
  }

}




