
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';


html { height: 100%; }
body {
  min-height: 100%;
  position: relative;
 	margin:0;
 	padding:0;
}

@each $size in 1,2,3,4,5,6{
  h#{$size} {
    margin: 0;
  }
}