$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}

@each $size in 1, 2, 3, 4, 5, 6 {
  h#{$size} {
    margin: 0;
  }
}

.eclipflow {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  width: 1200px;
  margin: 0 auto;
}

.row {
  margin: 0 !important;
}

.alertMsg {
  position: fixed;
  top: 65px;
  padding: 10px 25px;
  left: 50%;
  margin-left: -53px;
  background: #777777;
  color: #fff;
  z-index: 9999;
  border-radius: 20px;
}

.empty_list {
  margin: 20px 0;
  text-align: center;
  .create_extibition {
    margin-top: 20px;
    position: relative;
    .diff {
      position: absolute;
      background: rgba(0, 0, 0, .6);
      width: 122px;
      height: 37px;
      top: 0;
      left: 50%;
      margin-left: -61px;
      z-index: 99;
      border-radius: 25px;
    }
    a {
      color: #3896ef;
      text-decoration: none;
      border: 1px solid #3896ef;
      padding: 8px 25px;
      border-radius: 25px;
    }
  }
  .create_files {
    margin-top: 20px;
    position: relative;
    a {
      background: #24292e;
      color: #fff;
      padding: 8px 30px;
      border-radius: 25px;
      i {
        margin-right: 5px;
      }
    }
  }
}

//登录页面
.login {
  width: 600px;
  height: 450px;
  position: relative;
  left: 50%;
  margin-left: -300px;
  top: 100px;
  padding: 40px;
  text-align: center;
  background: #fff;
  .tl {
    margin-top: 10px;
    font-size: 24px;
  }
  p {
    margin-top: 10px;
    font-size: 14px;
    color: #999;
    padding: 0;
  }
  .code {
    margin-top: 20px;
    padding: 10px;
    width: 240px;
    height: 240px;
    position: relative;
    left: 145px;
    border: 1px solid #eee;
    img {
      width: 100%;

    }
  }
}

//注册页面信息修改
.register {
  padding-top: 30px;
  .regform {
    margin: 0px auto;
    width: 800px;
    background: #fff;
    padding: 40px;
    padding-bottom: 25px;
    a {
      cursor: pointer;
      text-decoration: none;
      color: #197ff2;
    }
    .tl {
      text-align: center;
      font-size: 24px;
      margin-bottom: 30px;
    }
    .form-group {
      .col-md-3 {
        height: 50px;
        color: #ff0000;
        line-height: 50px;
        padding-left: 0;
      }
      .go {
        border: 1px solid #ddd;
        border-radius: 4px;
        height: 50px;
        i {
          display: inline-block;
          width: 36px;
          height: 25px;
          margin-top: 11px;
          margin-left: 8px;
          float: left;
          background-size: contain;
        }
        input {
          outline: medium;
          display: inline-block;
          height: 40px;
          margin-top: 4px;
          width: 256px;
          border: none;
        }
        .for_mobile, .for_incode {
          width: 150px;
        }
        .btn_getCode {
          background: none;
          border: none;
          outline: medium;
          background-color: #0091f6;
          border-radius: 4px;
          color: #fff;
          padding: 9.5px 0;
          width: 120px;
          margin-top: -3px;
        }
        .glyphicon-ok-sign {
          color: #5ad621;
          font-size: 20px;
          top: 5px;
          display: none;
        }

      }
      .col-md-7 {
        padding: 0;
        i {
          display: inline-block;
          width: 36px;
          height: 25px;
          margin-top: 11px;
          margin-left: 8px;
          float: left;
          background-size: contain;
        }
        input {
          outline: medium;
          display: inline-block;
          height: 40px;
          border: 1px solid #ddd;
          border-radius: 4px;
        }

      }
      .col-sm-5 {
        .btn {
          background-color: #0091f6;
          border-radius: 4px;
          color: #fff;
          padding: 9.5px 0;
          width: 122px;
        }
        .ge {
          height: 40px;
          line-height: 38px;
        }
      }
      .btn_message {
        text-align: center;
        font-size: 16px;
        color: #fff;
        background: #333;
        display: block;
        margin-top: 30px;
      }

    }
    .pact {
      margin-top: 40px;
    }
  }

}

.navbar {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #24292e;
  margin: 0;
  .lf {
    float: left;
    color: #fff;
  }
  .rg {
    float: right;
    color: #fff;
    .vs {
      color: #009944;
    }
    .set {
      color: #0091f6;
      text-decoration: none;
      cursor: pointer;
      i {
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url("../../../app/pages/images/103.png") no-repeat;
        position: relative;
        top: 10px;
      }
      &:hover {
        color: #30aaff;
      }

    }
  }

}

.article {
  background: #f2f2f2;
  .current {
    padding-bottom: 55px;
    .row {
      margin: 0 !important;
    }
    .col-md-4 {
      height: 400px;
      overflow: hidden;
      padding-top: 40px;
      .trans {
        position: relative;
        transition: all .5s;

        .thumcode {
          display: none;
          position: absolute;
          transform: rotateY(180deg);
          top: 0;
          left: 0;
          border-radius: 8px;
          background: #fff;
          width: 100%;
          text-align: center;
          margin-bottom: 20px;
          img {
            margin: 60px auto;
            margin-bottom: 30px;

          }
          p {
            text-align: center;
          }
          a {
            display: block;
            width: 100px;
            background: #3896ef;
            color: #fff;
            cursor: pointer;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
            padding: 10px 20px;
            margin: 0 auto;
            margin-bottom: 19px;
          }
        }

        .thumbnail {
          position: absolute;
          top: 0;
          left: 0;
          padding: 0;
          border: none;
          z-index: 2;
          border-radius: 8px;
          .img {
            overflow: hidden;
            max-height: 190px;
            img {
              margin: 0;
              width: 100%;
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
              transition: All 0.8s ease-in-out;
              &:hover {
                transform: scale(1.1);
              }
            }
          }
          .caption {
            padding: 10px 20px;
            h4 {
              color: #333;
              @extend .eclipflow;
              width: 330px;
              span {
                font-size: 14px;
                color: #2cb7ff;
              }
            }
            p {
              color: #999;
              font-size: 14px;
              margin-top: 9px;
              padding: 0;
            }
            .mg {
              height: 90px;
              padding-top: 30px;
              position: relative;
              span {
                display: inline-block;
                padding: 10px 25px;
                padding-left: 0;
                i {
                  display: inline-block;
                  width: 24px;
                  height: 24px;
                  margin-top: 5px;
                  background: url("../../../app/pages/images/icon_qcode.png");
                }
              }

              a {
                padding-top: 12px;
                cursor: pointer;
                width: 140px;
                height: 50px;
                font-size: 18px;
                color: #505458;
                display: inline-block;
                float: right;
                border-radius: 25px;
                border: 1px solid #505458;
                text-align: center;

                &:hover {
                  border: 1px solid #a8aaac;
                  color: #a8aaac;
                }

              }

            }

          }

        }

        .thumbadd {
          background: #fff;
          padding: 122px 60px;
          position: relative;
          border-radius: 8px;
          .warp-mask {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            text-align: center;
            vertical-align: middle;
            z-index: 6;
            background: rgba(0, 0, 0, .6);
          }

          a {
            display: block;
            margin-top: 19px;
            color: #333;
            font-size: 18px;
            text-align: center;
            cursor: pointer;
            img {
              margin-bottom: 10px;
            }
          }

        }
      }

    }

    .tl {
      text-align: center;
      height: 120px;
      padding-top: 40px;
      span {
        z-index: 3;
        padding: 0 30px;
        font-size: 24px;
        color: #333;
        background: #f2f2f2;
        display: inline-block;
        position: relative;
      }
      p {
        z-index: 1;
        border-top: 2px solid #333;
        width: 360px;
        position: relative;
        top: -20px;
        left: 50%;
        margin-left: -180px;
      }
    }

  }

  .end-current {
    background-color: rgba(230, 230, 230, 1);
    padding-bottom: 20px;
    .content {
      padding-bottom: 45px;
      .tl {
        position: relative;
        text-align: center;
        height: 120px;
        line-height: 120px;
        span {
          z-index: 3;
          padding: 0 30px;
          font-size: 24px;
          color: #333;
          background-color: rgba(230, 230, 230, 1);
          position: relative;
        }
        p {
          z-index: 1;
          border-top: 2px solid #333;
          width: 360px;
          position: absolute;
          top: 60px;
          left: 50%;
          margin-left: -180px;
        }
      }
      .col-md-4 {
        margin-top: 40px;
        overflow: hidden;
        .trans {
          min-height: 360px;
          position: relative;
          transition: all .5s;

          .thumcode {
            position: absolute;
            top: 0;
            left: 0;
            transform: rotateY(180deg);
            display: none;
            z-index: 1;
            border-radius: 4px;
            background: #fff;
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
            img {
              margin: 60px auto;
              margin-bottom: 30px;
            }
            p {
              text-align: center;
            }
            a {
              display: block;
              width: 100px;
              background: #fb5c5c;
              color: #fff;
              cursor: pointer;
              -webkit-border-radius: 15px;
              -moz-border-radius: 15px;
              border-radius: 25px;
              padding: 10px 20px;
              margin: 0 auto;
              margin-bottom: 19px;
            }
          }

          .thumbnail {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            border: none;
            border-radius: 8px;
            .img {
              overflow: hidden;
              max-height: 190px;
              position: relative;
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
              img {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                margin: 0;
                width: 100%;
                transition: All 0.8s ease-in-out;
                &:hover {
                  transform: scale(1.1);
                }
              }
              .diff {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 9;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                background: rgba(0, 0, 0, .6);
              }
            }
            .caption {
              padding: 10px 20px;
              h4 {
                @extend .eclipflow;
                width: 330px;
                color: #333;
                span {
                  font-size: 14px;
                  color: #2cb7ff;
                }
              }
              p {
                color: #999;
                font-size: 14px;
                margin-top: 9px;
                padding: 0;
              }
              .mg {
                height: 90px;
                padding-top: 30px;
                position: relative;
                i {
                  display: inline-block;
                  width: 24px;
                  height: 24px;
                  margin-top: 12.5px;
                  background: url("../../../app/pages/images/icon_qcode.png");
                }
                a {
                  padding-top: 12px;
                  cursor: pointer;
                  width: 140px;
                  height: 50px;
                  font-size: 18px;
                  color: #fff;
                  display: inline-block;
                  float: right;
                  border-radius: 25px;
                  background: #505458;
                  text-align: center;

                  &:hover {
                    background: rgba(168, 170, 172, 1);
                  }

                }

              }

            }

          }

          .thumbadd {
            background: #fff;
            padding: 116px 60px;
            img {
              cursor: pointer;
              position: relative;
              left: 50%;
              margin-left: -25px;
            }
            p {
              margin-top: 19px;
              color: #333;
              font-size: 18px;
              text-align: center;
            }

          }

        }

      }

    }
    .reminds {
      text-align: center;
      a {
        display: inline-block;
        background: url(../../../app/pages/images/tec_support.png) no-repeat;
        width: 120px;
        height: 20px;
        margin: 40px;
        background-size: contain;
      }
    }
  }

}

//详情页面
.eb-details {
  .eb-slide {
    width: 100%;
    position: relative;
    overflow: hidden;
    top: -1px;
    .bgimg {
      position: relative;
      .diff {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .6);
      }

      > img {
        width: 100%;
        min-height: 350px;
      }
    }

    .nav {
      height: 50px;
      background: rgba(0, 0, 0, .2);
      line-height: 50px;
      width: 100%;
      color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      .content {
        .pull-left {
          label {
            position: relative;
            top: 8px;
            margin: 0 5px;
            input {
              outline: medium;
            }

          }
          .home {
            background: url("../../../app/pages/images/icon_home.png");
            width: 22px;
            height: 20px;
            display: inline-block;
            position: relative;
            top: 2px;
            margin-right: 15px;
          }
          & > span {
            margin-left: 60px;
            color: #0cd66a;
          }
          input {
            cursor: pointer;
          }
          s {
            text-decoration: none;
            color: #009beb;
            cursor: pointer;
          }
        }

        .mode {
          margin-left: 400px;
          i {
            position: relative;
            font-size: 18px;
            padding: 5px;
            img {
              display: none;
              position: absolute;
              top: 15px;
              left: 15px;
              width: 160px;
            }
            &:hover {
              img {
                display: block;
              }
            }
          }
        }

        > div {
          display: inline-block;
        }
      }
    }

    .nav-con {
      position: absolute;
      width: 600px;
      left: 50%;
      margin-left: -300px;
      top: 80px;
      text-align: center;
      .file {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-left: 240px;
        position: relative;

        .img-text-warning {
          display: none;
          position: absolute;
          top: 0px;
          border-radius: 50%;
          left: 0px;
          color: #fff;
          font-size: 16px;
          width: 100%;
          height: 120px;
          z-index: 10;
          padding-top: 50px;
          background: rgba(0, 0, 0, .6);
        }
        #uploadImgdiv {
          border-radius: 50%;
          width: 100%;
          height: 100%;
          cursor: pointer;
          opacity: 0;
          z-index: 99;

          .webuploader-pick {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        & > img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          border-radius: 50%;
        }
        & > span {
          position: absolute;
          top: 40px;
          left: 0;
          color: #fff;
        }

        .loding {
          text-align: center;
          z-index: 6;
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: rgba(0, 0, 0, .6);
        }
      }
      .time {
        color: #999;
        margin: 0;
        cursor: pointer;
        text-align: center;
        margin-top: 10px;
        background: none;
        border: 0;
        width: 240px;
      }
      .name {
        margin-top: 10px;
        font-size: 24px;
        color: #fff;
        cursor: pointer;
        input {
          background: none;
          border: none;
        }
      }
      .code {
        i {
          font-size: 28px;
          position: relative;
          top: 5px;
          padding: 0 10px;
          color: #999;
          img {
            position: absolute;
            top: -40px;
            left: -40px;
            width: 40px;
            opacity: 0;
            display: none;
          }
          &:hover {
            img {
              display: block;
              -webkit-animation: myfirst 0.5s forwards;
              -o-animation: myfirst 0.5s forwards;
              animation: myfirst 0.5s forwards;
            }
          }
        }
        span {
          color: #999;
        }
        a {
          border: 1px solid #2cb7ff;
          color: #2cb7ff;
          padding: 2px 10px;
          border-radius: 4px;
          margin-left: 15px;
          cursor: pointer;
        }
      }
    }

  }

  .eb-fileload {
    .content {
      background: #fff;
      padding: 40px 0 30px 0;
      .tl {
        font-size: 24px;
        color: #333;
        text-align: center;
      }
      .navtl {
        margin: 40px 0;
        font-size: 20px;
        text-indent: 10px;
        color: #333;
        border-left: 6px solid #2cb7ff;
      }
      .col-md-4 {
        padding: 20px;

        .files {
          padding: 20px;
          transition: All 0.3s ease-in-out;
          position: relative;
          &:hover {
            box-shadow: 0px 0px 10px #ddd;
            z-index: 9;
            transform: scale(1.02);
            .glyphicon-trash {
              display: inline-block;
            }
          }
          .add-files {
            position: relative;

            i {
              margin-right: 5px;
            }
            width: auto;
            cursor: pointer;
            padding: 14px 20px;
            background: #24292e;
            color: #fff;
            margin: 8px;
            border-radius: 40px;
            width: 140px;
          }
          .img {
            display: inline-block;
            float: left;
            vertical-align: bottom;
            width: 57.6px;
            height: 67.2px;
            -webkit-background-size: cover;
            background-size: cover;
          }
          .slide-line {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 8;
            width: 100%;
            height: 100%;
            div {
              background: rgba(0, 126, 255, 0.5);
              height: 100%;

            }
            i {
              display: none;
              cursor: pointer;
              color: #fff;
              position: absolute;
              top: 50px;
              right: 20px;
              font-size: 12px;
              background: #ff5858;
              padding: 8px 15px;
              border-radius: 15px;
              span {
                margin-left: 5px;
                vertical-align: text-top;
              }
            }
          }
          .info {
            margin-left: 10px;
            float: left;
            p {
              margin-bottom: 5px;
              &:nth-child(1) {
                cursor: pointer;
                font-size: 16px;
                span {
                  display: inline-block;
                  max-width: 240px;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
              }
              &:nth-child(2) {
                font-size: 12px;
                color: #999;
              }
            }

            i {
              display: none;
              cursor: pointer;
              color: #fff;
              position: absolute;
              top: 50px;
              right: 20px;
              font-size: 12px;
              background: #ff5858;
              padding: 8px 15px;
              border-radius: 15px;
              span {
                margin-left: 5px;
                vertical-align: text-top;
              }
            }

          }

        }

      }
    }
  }
  .eb-filesort {
    .content {
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      background: #fff;
      padding-top: 60px;
      padding-bottom: 60px;
      .navtl {
        text-indent: 10px;
        font-size: 20px;
        color: #333;
        border-left: 6px solid #2cb7ff;
      }
      .col-md-4 {
        color: #fff;
        padding: 30px;

        .dirs {
          position: relative;
          box-shadow: 0 0 5px #ddd;
          border-radius: 8px;
          &:hover {
            box-shadow: 0 0 20px #eee;
            z-index: 9;
            .glyphicon-trash {
              display: inline-block;
            }
          }
          .bgimg-small {
            position: relative;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            .diff {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background: rgba(0, 0, 0, .4);
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
            }
            img {
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
            }
          }
          .tl {
            display: block;
            position: absolute;
            cursor: pointer;
            top: 10px;
            width: 95%;
            left: 0;
            font-size: 16px;
            text-indent: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            input {
              width: 280px;
              height: 26px;
              color: #333;
            }
          }
          .glyphicon-trash {
            display: none;
            top: 120px;
            right: 25px;
            position: absolute;
            background: #fa4f4f;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            text-align: center;
            cursor: pointer;
            padding-top: 12px;
          }
          .size {
            font-size: 14px;
            position: absolute;
            top: 40px;
            text-indent: 10px;
            color: #fff;
          }
          .show {
            text-align: center;
            vertical-align: middle;
            height: 100px;
            padding-top: 32.5px;
            .btn-showfile {
              background-color: #00bef6;
              border-radius: 30px;
              color: #fff;
              padding: 7px 20px;
              cursor: pointer;
              vertical-align: super;
              display: inline-block;
            }
          }

        }

        .files {
          background: #00a0e9;
          padding: 15px;
          border-radius: 6px;
          &:hover {
            box-shadow: 0px 0px 30px #999;
            z-index: 9;
            .title {
              i {
                display: block;
              }
            }
          }
          .title {
            font-size: 16px;
            & > span {
              input {
                border: none;
                outline: medium;
                color: #333;
                height: 20px;
                width: 200px;
                padding-left: 5px;
                font-size: 14px;
              }
            }
            i {
              float: right;
              font-style: normal;
              display: none;
              width: 56px;
              height: 14px;
              font-size: 14px;
              cursor: pointer;
              span {

              }
            }
          }
          .size {
            font-size: 14px;
            margin-top: 10px;
          }
          .btn-showfile {
            display: block;
            margin-top: 35px;
            height: 30px;
            width: 120px;
            border-radius: 15px;
            text-align: center;
            border: 1px solid #fff;
            color: #fff;
            font-size: 12px;
            padding: 5px 15px;
            cursor: pointer;
          }
        }
        .files-add {
          padding: 107.5px 0;
          background: #484d53;
          text-align: center;
          position: relative;
          .mask {
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, .6);
            width: 100%;
            height: 100%;
            z-index: 8;
          }
          .btn-add {
            i {
              margin-right: 5px;
            }
            padding: 20px 40px;
            color: #fff;
            font-size: 18px;
            cursor: pointer;
          }
        }

      }

    }

  }

  .eb-footer {
    .content {
      background: #fff;
      .visit {
        padding-top: 120px;
        text-align: center;
        .btn {
          background-color: #00bef6;
          border-radius: 30px;
          color: #fff;
          padding: 15px 50px;
          cursor: pointer;
        }
        .edit {
          display: block;
          font-size: 14px;
          color: #00bef6;
          margin-top: 20px;
          input {
            width: 300px;
          }
        }
      }
      .fo {
        text-align: center;
        i {
          display: block;
          width: 180px;
          height: 20px;
          background: url("../../../app/pages/images/tec_support.png") no-repeat;
          background-size: contain;
          position: relative;
          left: 50%;
          margin-left: -90px;
        }
        margin-top: 240px;
        padding-bottom: 20px;
        text-align: center;
      }
    }
  }

  //以下是本页面弹出层样式效果
  #loadFileList {
    .modal-content {
      border-radius: 8px;
      overflow: hidden;
    }
    .modal-header {
      padding: 0;
      .diff {
        position: relative;
        div {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 246px;
          background: rgba(0, 0, 0, .6);

        }
        img {
          width: 100%;
        }
      }
      .modal-title {
        position: absolute;
        top: 18px;
        color: #fff;
        text-indent: 15px;
      }
      button {
        position: absolute;
        top: 0px;
        right: 20px;
        font-size: 36px;
        color: #fff;
        opacity: 1;
        background: none;
        border: none;
        outline: medium;
      }
    }
    .modal-body {
      padding: 0;
      padding-top: 15px;
      .title {
        color: #999;
      }
      .warp-mask {
        text-align: center;
        z-index: 6;
        position: absolute;
        width: 100%;
        top: 60px;
        span {
          width: 36px;
          height: 36px;
          display: inline-block;
          background: url("../../../app/pages/images/pass.gif") no-repeat;
        }
      }

    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      height: 280px;
      margin-right: 10px;
      overflow: auto;
      li {
        position: relative;
        height: 35px;
        line-height: 35px;
        div {
          display: inline-block;
        }
        .col-sm-5 {
          width: 41.66667%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .col-sm-2 {
          .glyphicon-save {
            color: #01a5f1;
            margin-right: 10px;
          }
          i {
            cursor: pointer;
          }
        }

        .col-sm-12 {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          z-index: 9;
          div {
            height: 100%;
            background: rgba(0, 126, 255, 0.5);

          }
          i {
            color: #fff;
            position: absolute;
            top: 6px;
            right: 29px;
            background: #ff5858;
            padding: 2px 10px;
            border-radius: 12px;
          }
        }

      }
    }

    .modal-footer {
      border: none;
      text-align: center;
      padding-bottom: 25px;
      .btn-dir-upload {
        display: inline-block;
        border-radius: 25px;
        background: #009beb;
        color: #fff;
        padding: 8px 60px;
        cursor: pointer;
        & > div {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  #uploadFileModal {
    button {
      outline: medium;
    }
    .modal-body {
      margin-bottom: 30px;
    }
    .form-group {
      margin: 0;
      margin-top: 20px;
      height: 30px;
      text-align: center;
      .uploadByCollect {
        background: #009beb;
        color: #fff;
        padding: 6px 25px;
        border-radius: 15px;
        .webuploader-pick {
          background: none;
          padding: 0;
          overflow: inherit;
        }
        & > div:nth-child(2) {
          width: 122px;
          height: 31px;
        }
      }
      .uploadByLocal {
        background: #009beb;
        color: #fff;
        padding: 6px 25px;
        border-radius: 25px;
        .webuploader-pick {
          background: none;
          padding: 0;
          overflow: inherit;
        }
        & > div:nth-child(2) {
          width: 122px !important;
          height: 31px !important;
        }
      }
      .uploadByHave {
        background: #009beb;
        color: #fff;
        padding: 6px 40px;
        border-radius: 25px;
      }

      .uploadByCloud {
        color: #009beb;
        border: 1px solid #009beb;
        padding: 6px 10px;
        border-radius: 25px;
      }
    }
    .othergroup {
      position: relative;
      height: 24px;
      margin-top: 35px;
      p {
        border-top: 1px solid #ddd;
        position: relative;
        top: 10px;
        width: 70%;
        margin-left: 15%;
      }
      span {
        position: absolute;
        width: 100px;
        left: 50%;
        margin-left: -50px;
        text-align: center;
        top: 1px;
        background: #fff;
      }
    }
  }

  #openCollectFile, #closeCollectFile {
    button {
      outline: medium;
    }
    .warning {
      font-size: 14px;
      color: #999;
      line-height: 25px;
      text-indent: 25px;
    }
    .form-group {
      margin-top: 20px;
      text-align: center;
      .btn {
        background: #009beb;
        display: inline-block;
        color: #fff;
        padding: 8px 25px;
        border-radius: 15px;
      }
    }
  }

  #msgCollectFile {
    .modal-body {
      padding: 0;
      height: 550px;
    }
    .collect {
      padding: 5px;
      border-top: 1px solid #ddd;
      .title {
        color: #999;
        height: 30px;
        div {
          line-height: 28px;
        }

      }
      .info {
        position: relative;
        .loading {
          margin-top: 10px;
          text-align: center;
          span {
            width: 32px;
            height: 32px;
            display: inline-block;
            background: url("../../../app/pages/images/pass.gif") no-repeat;
          }
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          overflow: auto;
          max-height: 360px;
          li {
            height: 30px;
            line-height: 30px;
            .col-sm-5 {
              @extend .eclipflow;
              width: 41.66667%;
            }
            .glyphicon-trash {
              cursor: pointer;
              color: #ff7474;
              margin-left: 10px;
            }
            .glyphicon-save {
              cursor: pointer;
            }

          }
        }
      }

    }

    .form-group {
      height: 140px;
      margin: 0;
      padding: 5px;
      .col-sm-8 {
        h5 {
          margin-top: 10px;
          font-size: 16px;
        }
        p {
          border: 1px solid #ddd;
          padding: 5px;
          margin: 15px 0;
          width: 100%;
          overflow: hidden;
        }
        .btn {
          background: #009beb;
          display: inline-block;
          color: #fff;
          padding: 4px 25px;
          border-radius: 15px;
        }

      }
      .col-sm-4 {
        img {
          width: 100px;
          float: right;
          margin-right: 32px;
          margin-top: 10px;
        }
      }
    }

  }

  #fileFromCollect {

    .collect {
      padding: 5px;
      .title {
        color: #999;
        height: 30px;
        div {
          line-height: 28px;
        }

      }
      .info {
        position: relative;
        .loading {
          margin-top: 10px;
          text-align: center;
          span {
            width: 32px;
            height: 32px;
            display: inline-block;
            background: url("../../../app/pages/images/pass.gif") no-repeat;
          }
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          overflow: auto;
          height: 430px;
          top: -13px;
          li {
            height: 30px;
            line-height: 30px;
            cursor: pointer;
            &:hover {
              background: #eee;
            }
            .col-sm-6 {
              div {
                @extend .eclipflow;
              }
            }
            .glyphicon-trash {
              cursor: pointer;
              color: #ff7474;
              margin-left: 10px;
            }
            .glyphicon-save {
              cursor: pointer;
            }

          }
        }
      }

    }

    .modal-footer {
      position: relative;
      p {
        position: absolute;
        top: 10px;
        left: 35px;
      }
      .btn {
        border: 1px solid #ddd;
        padding: 8px 60px;
        background: #f7f7f7;
        border-radius: 25px;
      }
      .btn_sure_collect {
        color: #fff;
        background: #019beb;
        position: relative;
        height: 37px;
        width: 150px;
        div {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 9;
          border-radius: 25px;
        }
        .btn_ok {
          padding-top: 10px;
          z-index: 2;
        }
        span {
          display: block;
          z-index: 3;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          color: #fff;
          border-radius: 25px;
          background: rgba(0, 0, 0, .6);
          i {
          }
        }
      }
    }

  }
}

#setManagerModal { //共同管理员模态窗
  .modal-body {
    .tl {
      height: 35px;
      line-height: 35px;
      font-weight: bold;
    }
    .con_manager, .con {
      .man {
        display: inline-block;
        width: 70px;
        padding: 5px 15px;
        img {
          border-radius: 50%;
          width: 100%;
        }
        p {
          margin-top: 5px;
          text-align: center;
        }

      }
      .man_con {
        & > div {
          display: inline-block;
          position: relative;
          width: 70px;
          padding: 5px 15px;
          text-align: center;

          .glyphicon-remove-sign {
            position: absolute;
            top: -3px;
            right: 8px;
            color: #ff0000;
            z-index: 6;
            font-size: 18px;
            cursor: pointer;
            display: none;
          }
          img {
            border-radius: 50%;
            width: 100%;
          }
          p {
            margin-top: 5px;
          }
          &:hover {
            .glyphicon-remove-sign {
              display: inline-block;
            }
          }
        }
        .add {
          display: inline-block;
          top: 15px;
          span {
            font-size: 40px;
            color: #ddd;
            cursor: pointer;
            &:hover {
              color: #bbb;
            }
          }
        }
      }

    }

  }
}

@keyframes myfirst {
  0% {
    left: -40px;
    top: -40px;
  }

  100% {
    left: -160px;
    top: -160px;
    width: 160px;
    opacity: 1;
  }
}





