<header>
    <div class="navbar">
        <div class="content clearfix">
            <div class="lf">
                <i></i><span>会文件</span>
            </div>
            <div class="rg">
                <span>欢迎您 , {{user.loginName}}</span>
                <!--<span class="vs">免费版<i></i></span>-->
                <!--<a ng-if="!loginName">登录</a>-->
                <!--<a ng-click="register()" ng-if="loginName">注销</a>-->
                <a class="set" data-target="#setManagerModal" data-toggle="modal" ng-if="user.ent_id"
                   comman-manger><i></i>设置共同管理员</a>
            </div>
        </div>
    </div>
</header>

<!--管理员设置-->
<div class="modal fade" id="setManagerModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel21" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 480px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h5 class="modal-title" id="myModalLabel21">
                    设置共同管理员
                </h5>
            </div>
            <div class="modal-body">
                <div class="con_manager">
                    <div class="tl">主管理员</div>
                    <div class="man">
                        <div>
                            <img src="{{manager.image}}" alt="" ng-if="manager.image">
                            <img src="../../pages/images/t_1.png" alt="" ng-if="!manager.image">
                            <p>{{manager.account}}</p>
                        </div>
                    </div>
                </div>
                <div class="con">
                    <div class="tl">共同管理员</div>
                    <div class="man_con">
                        <div class="m" ng-repeat="p in magList">
                            <img src="{{p.image}}" alt="" ng-if="p.image">
                            <img src="../../pages/images/t_1.png" alt="" ng-if="!p.image">
                            <p>{{p.account}}</p>
                            <i class="glyphicon glyphicon-remove-sign" dataid="{{p.id}}"
                               ng-if="user.main_member==1 && p.id" del-manger ></i>
                        </div>

                        <div class="add">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--管理员删除-->
<div class="modal fade" id="delmanagerModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="myModalLabel4">
                    是否删除共同管理员
                </h5>
            </div>

            <div class="modal-body">
                <div class="warning">
                    删除后 , 用户 将无法再通过其微信号登录管理会文件。是否确认删除?
                </div>
                <div class="form-group">
                    <div class="btn">确认删除</div>
                    <div class="btn">取 消</div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

