<div class="FILE_MODE">


    <!--<div class="mobile_model">-->
    <!--<div class="mobile">-->
    <!--<span class="voice"></span>-->
    <!--<div class="screen">-->

    <!--</div>-->
    <!--<span class="home"></span>-->
    <!--</div>-->
    <!--</div>-->

    <div class="nav-bar clearfix">
        <div class="left clearfix">
            <div class="pModel">
                <a href="http://www.meetfile.com" class=""><i class="home"></i></a>
                <span>编辑模式</span>
            </div>
        </div>
        <span class="text-warning">修改成功</span>
        <div class="right">
            <span class="switch">资料收集
                <span ng-if="currentExbt.res_collect_lock==-1">:&nbsp;已关闭</span>
                 <span ng-if="currentExbt.res_collect_lock==1">:&nbsp;已开启</span> </span>
            <label ng-click="checkCollecFn()">
                <input class="mui-switch mui-switch-anim mui_collect" type="checkbox"
                       value="{{currentExbt.res_collect_lock}}"></label>
            <s ng-click="showCollection()" ng-if="currentExbt.res_collect_lock!=0">查看</s>
            <div class="size">
                <span>{{currentExbt.property.dir_count}}个分组 ,&nbsp;{{currentExbt.property.file_count}}个专题 ,&nbsp;共{{currentExbt.property.file_count | bitSize}}</span>
            </div>
            <div class="btn upgrade">升级</div>
            <div class="btn save_publish" data-target="#exhibitionCode" data-toggle="modal">
                <i class="glyphicon glyphicon-floppy-open"></i>保存和发布
            </div>
        </div>
    </div>


    <!--<div ng-click="addFileFn()" >创建一个壳子</div>-->


    <!--<div class="well" style="position: absolute;top:100px; left: 100px; z-index: 999">-->
    <!--<div id="datetimepicker2" class="input-append">-->
    <!--<input class="form-control" type="text"/>-->
    <!--<span class="add-on">-->
    <!--<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>-->
    <!--</span>-->
    <!--</div>-->
    <!--</div>-->


    <div class="FILE_ARTICLE clearfix">
        <!--<img class="bgimg" src="../../../assets/images/10.png" alt="">-->
        <div class="slide-bar">
            <div class="slide clearfix">
                <div class="info" ng-if="stateMode">
                    <img src="../../../assets/images/t_1.png" alt="">
                    <div>
                        <h5>大漠孤烟</h5>
                        <p>超级管理员</p>
                    </div>
                </div>
                <i class="glyphicon" slide-animate></i>
            </div>
            <div class="motion">
                <p class="title">站点基本信息设置</p>
                <p class="tl">站点(会展)名称:</p>
                <input class="ipt_name" ng-model="currentExbt.title" datatype="title" edit-extitle type="text"
                       placeholder="请输入站点(会展)名称">
                <p class="tl">站点(会展)标识:</p>
                <div class="logo clearfix">
                    <img ng-src="{{currentExbt.logo}}" alt="">
                    <div>
                        <!--<a class="btn" datawhere="logo" upload-logo>上传logo</a>-->
                        <div class="btn" datawhere="logo" upload-logo>
                            上传logo
                            <span us-spinner="{lines:9, color:'white',radius:5, width:3, length: 6}"
                                  spinner-on="imgloading"></span>
                        </div>
                        <p>支持160x160像素的JPG/PNG格式,大小不超过1M</p>
                    </div>
                </div>
                <p class="tl">会展持续时间:</p>
                <div class="time">
                    <input type="text" date-range-picker class="ipt_time date-picker" type="text"
                           ng-model="date" options="opts">
                    <p>专业版可选择长期有效,确保您的站点永久可被用户访问。<a>查看详情</a></p>
                </div>
                <p class="tl">首页(banner)背景图:</p>
                <div class="banner">
                    <img src="{{currentExbt.banner}}-640" alt="">
                    <div class="btn" ng-click="getBannerFn()">自定义设置</div>
                </div>

                <div class="instructions">
                    <p class="mark">可选文字说明:</p>
                    <input type="text" datatype="sub_title" edit-extitle ng-model="currentExbt.property.sub_title"
                           placeholder="如:  协办企业:腾讯网络">
                    <p class="r">文字会显示在标题下方,可以用简单的语句描述您的站点、或者您可以协商主办方(承办方)名称。</p>
                </div>
            </div>
            <div class="graphic" slide-animate>
                <ul>
                    <li>
                        <a>
                            <img src="../../../assets/images/1126.png" alt="">
                            <p>名称</p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../../assets/images/1127.png" alt="">
                            <p>标识</p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../../assets/images/1128.png" alt="">
                            <p>时间</p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../../assets/images/1129.png" alt="">
                            <p>背景</p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="../../../assets/images/1130.png" alt="">
                            <p>说明</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <!--手机模型内容显示-->
        <div class="percentfourty">
            <div class="slide-mobile" style="top:{{mobilesize.top}};left:{{mobilesize.left}}">
                <div class="mobile-phone">
                    <div class="hosted-phones">
                        <div class="mb_header">
                            <div class="diff">
                                <div class="d"></div>
                                <img ng-src="{{currentExbt.banner}}-640" alt="">
                            </div>
                            <div class="icon">
                                <div>
                                    <img ng-src="{{currentExbt.logo}}" alt="">
                                </div>
                                <p class="title">{{currentExbt.title}}</p>
                                <p class="time">{{currentExbt.start_date}} - {{currentExbt.end_date}}</p>
                                <p class="ps" ng-bind="currentExbt.property.sub_title"></p>
                            </div>
                        </div>
                        <div class="mb_file">
                    <span ng-if="fileloading" class="loading"
                          us-spinner="{lines:9,radius:5, width:3, length: 6}"
                          spinner-on="fileloading"></span>
                            <ul class="ui_file_Modelstyle">
                                <li ng-repeat="file in FilesList">
                                    <a class="clearfix sl" ng-if="file.property.style==1"
                                       ng-click="selectFileFn($event,$index,file)">
                                        <img src="{{file.property.back_pic}}-c320" alt="">
                                        <div>{{file.property.title}}</div>
                                    </a>
                                    <a class="clearfix sr" ng-if="file.property.style==2"
                                       ng-click="selectFileFn($event,$index,file)">
                                        <div>{{file.property.title}}</div>
                                        <img src="{{file.property.back_pic}}-c320" alt="">
                                    </a>
                                    <a class="clearfix bl" ng-if="file.property.style==3"
                                       ng-click="selectFileFn($event,$index,file)">
                                        <img src="{{file.property.back_pic}}-c320" alt=""
                                             ng-click="selectFileFn($event,$index,file)">
                                        <div>
                                            <h5>{{file.property.title}}</h5>
                                            <p>{{file.property.sub_title}}</p>
                                        </div>
                                    </a>
                                    <a class="clearfix br" ng-if="file.property.style==4"
                                       ng-click="selectFileFn($event,$index,file)">
                                        <img src="{{file.property.back_pic}}-c320"
                                             alt="">
                                        <div>
                                            <h5>{{file.property.title}}</h5>
                                            <p>{{file.property.sub_title}}</p>
                                        </div>
                                    </a>
                                    <a class="clearfix cv" ng-if="file.property.style==5"
                                       ng-click="selectFileFn($event,$index,file)">
                                        <img src="{{file.property.back_pic}}-c592" alt="">
                                        <div>
                                            <h5>{{file.property.title}}</h5>
                                            <p>{{file.property.sub_title}}</p>
                                        </div>
                                    </a>
                                    <div class="cover" ng-if="file.filewidth && file.filewidth!=100">
                                        <span style="width: {{file.filewidth}}%"></span>
                                        <i>X</i>
                                    </div>
                                </li>
                                <li>
                                    <!--<a class="add" ng-click="addFileFn()">添加内容模块</a>-->
                                    <div class="add" ng-click="fileChooser()">
                                        添加内容
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="mb_classification">
                            <div class="group" ng-repeat="item in GroupList track by $index" ng-init='idx=$index'>
                                <div class="tl">
                                    <span group-toggle></span>
                                    <a ng-click="selectGroupFn($even,$index,item)">{{item.name}}</a>
                                </div>

                                <div class="ui_topic_Modelstyle topic" ng-repeat="list in item.folder"
                                     ng-click="slideTopicFn(idx,list)">
                                    <a class="con" ng-if="list.property.position=='middle'">
                                        <div class="bg">
                                            <div class="diff"></div>
                                            <div class="p1" ng-if="list.img_url.length==1">
                                                <img src="{{list.img_url[0]}}-340" alt="">
                                            </div>
                                            <div class="p2 clearfix" ng-if="list.img_url.length==2">
                                                <div>
                                                    <img src="{{list.img_url[0]}}-340" alt="">
                                                </div>
                                                <div>
                                                    <img src="{{list.img_url[1]}}-340" alt="">
                                                </div>
                                            </div>
                                            <div class="p3 clearfix" ng-if="list.img_url.length==3">
                                                <div class="left">
                                                    <img src="{{list.img_url[0]}}-340" alt="">
                                                </div>
                                                <div class="right">
                                                    <img src="{{list.img_url[1]}}-340" alt="">
                                                    <img src="{{list.img_url[2]}}-340" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="title">
                                            <p class="tl">{{list.title}}</p>
                                            <p class="count">{{list.file_count}}条内容
                                                <i class="glyphicon glyphicon-menu-right"></i>
                                            </p>
                                        </div>
                                    </a>
                                    <a class="con" ng-if="list.property.position=='under'">
                                        <div class="bg">
                                            <div class="p1" ng-if="list.img_url.length==1">
                                                <img src="{{list.img_url[0]}}-340" alt="">
                                            </div>
                                            <div class="p2 clearfix" ng-if="list.img_url.length==2">
                                                <div>
                                                    <img src="{{list.img_url[0]}}-340" alt="">
                                                </div>
                                                <div>
                                                    <img src="{{list.img_url[1]}}-340" alt="">
                                                </div>
                                            </div>
                                            <div class="p3 clearfix" ng-if="list.img_url.length==3">
                                                <div class="left">
                                                    <img src="{{list.img_url[0]}}-340" alt="">
                                                </div>
                                                <div class="right">
                                                    <img src="{{list.img_url[1]}}-340" alt="">
                                                    <img src="{{list.img_url[2]}}-340" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-light clearfix">
                                            <p class="pull-left">{{list.title}}</p>
                                            <p class="pull-right">{{list.file_count}} 条内容
                                                <i class="glyphicon glyphicon-menu-right"></i>
                                            </p>
                                        </div>
                                    </a>
                                </div>

                                <div class="addtopic">
                                    <h4 ng-click="addProjectFn(item,$index)">添加新专题</h4>
                                    <p>专题中可包含多条内容</p>
                                    <div class="model" ng-if="item.folder_loding">
                                    <span us-spinner="{color: '#fff',lines:11,radius:9, width:5, length: 9}"
                                          spinner-on="item.folder_loding"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="addgroup">
                                <h4 add-group><i class="tl-add"></i> 添加新分组</h4>
                                <div class="model" ng-if="group_loding">
                                    <span us-spinner="{color: '#fff',lines:9,radius:7, width:3, length: 7}"
                                          spinner-on="group_loding"></span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="topic-page">
                        <div class="ui_topic_Modelstyle topicdetail">
                            <a class="glyphicon glyphicon-chevron-left" ng-click="slideBakcFn()"></a>
                            <a class="con">
                                <div class="bg" ng-click="setTopicFn()">
                                    <div class="diff"></div>
                                    <div class="p1" ng-if="topDetails.img_url.length==1">
                                        <img src="{{topDetails.img_url[0]}}-340" alt="">
                                    </div>
                                    <div class="p2 clearfix" ng-if="topDetails.img_url.length==2">
                                        <div>
                                            <img src="{{topDetails.img_url[0]}}-340" alt="">
                                        </div>
                                        <div>
                                            <img src="{{topDetails.img_url[1]}}-340" alt="">
                                        </div>
                                    </div>
                                    <div class="p3 clearfix" ng-if="topDetails.img_url.length==3">
                                        <div class="left">
                                            <img src="{{topDetails.img_url[0]}}-340" alt="">
                                        </div>
                                        <div class="right">
                                            <img src="{{topDetails.img_url[1]}}-340" alt="">
                                            <img src="{{topDetails.img_url[2]}}-340" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="fMask">
                                    <p class="tl">{{topDetails.title}}</p>
                                    <p class="count">{{topDetails.file_count}}条内容</p>
                                </div>
                            </a>
                        </div>


                        <div class="project">
                            <span ng-if="topDetails.fileloading" class="loading"
                                  us-spinner="{lines:9,radius:5, width:3, length: 6}"
                                  spinner-on="topDetails.fileloading"></span>
                            <ul class="ui_file_Modelstyle">
                                <li ng-repeat="file in topDetails.lists">
                                    <a class="clearfix sl" ng-if="file.property.style==1"
                                       ng-click="selectFileFn($event,$index,file)">
                                        <img src="{{file.property.back_pic}}-c320" alt="">
                                        <div>{{file.property.title}}</div>
                                    </a>
                                    <a class="clearfix sr" ng-if="file.property.style==2"
                                       ng-click="selectFileFn($event,$index,file)">
                                        <div>{{file.property.title}}</div>
                                        <img src="{{file.property.back_pic}}-c320" alt="">
                                    </a>
                                    <a class="clearfix bl" ng-if="file.property.style==3"
                                       ng-click="selectFileFn($event,$index,file)">
                                        <img src="{{file.property.back_pic}}-c320" alt=""
                                             ng-click="selectFileFn($event,$index,file)">
                                        <div>
                                            <h5>{{file.property.title}}</h5>
                                            <p>{{file.property.sub_title}}</p>
                                        </div>
                                    </a>
                                    <a class="clearfix br" ng-if="file.property.style==4"
                                       ng-click="selectFileFn($event,$index,file)">
                                        <img src="{{file.property.back_pic}}-c320"
                                             alt="">
                                        <div>
                                            <h5>{{file.property.title}}</h5>
                                            <p>{{file.property.sub_title}}</p>
                                        </div>
                                    </a>
                                    <a class="clearfix cv" ng-if="file.property.style==5"
                                       ng-click="selectFileFn($event,$index,file)">
                                        <img src="{{file.property.back_pic}}-c592" alt="">
                                        <div>
                                            <h5>{{file.property.title}}</h5>
                                            <p>{{file.property.sub_title}}</p>
                                        </div>
                                    </a>
                                    <div class="cover" ng-if="file.filewidth && file.filewidth!=100">
                                        <span style="width: {{file.filewidth}}%"></span>
                                        <i>X</i>
                                    </div>
                                </li>
                                <li>
                                    <div class="add" ng-click="topicChooser()">
                                        添加内容
                                    </div>
                                </li>
                            </ul>

                        </div>


                    </div>


                </div>

            </div>
        </div>
        <div class="percentsixty">
            <div class="slide-note">

                <!--主页面提示-->
                <div class="defaults">      <!--文件上传样式-->
                    <h3>
                        模块设置/内容模块
                    </h3>
                    <div class="warning">
                        <img src="../../../assets/images/104.png" alt="">
                    </div>
                </div>
                <!--文件设置-->
                <div class="filemask">
                    <h3>模块设置/内容模块 <span class="pull-right" ng-click="delFileFn()"><i
                            class="glyphicon glyphicon-trash"></i>删除</span>
                    </h3>
                    <div class="preview">
                        <div class="h">
                            <i class="tl-pre"></i>
                            内容预览
                        </div>
                        <div class="name">
                            {{fileglobal.property.title}}
                            <input type="text" ng-if="fileglobal.isEdit" class="form-control"
                                   ng-model="fileglobal.property.title">
                        </div>

                        <div class="r">
                            <div class="btn">替换内容</div>
                            <div class="btn" edit-filename>重命名</div>
                        </div>

                    </div>
                    <div class="coverfetcher">
                        <div class="h">
                            <i class="tl-img"></i>
                            封面设置
                        </div>
                        <div class="img ">
                            <div class="clearfix">
                                <img src="{{fileglobal.property.back_pic}}-c320" alt="">
                                <div class="r">
                                    <div class="btn" datawhere="fileimg" upload-logo>
                                        更换背景
                                    </div>
                                    <div class="btn" ng-click="resetfilebgFn()">
                                        重置背景
                                    </div>
                                </div>
                            </div>
                            <p>支持 600x320像素的 JPG/PNG 格式 , 不超过1M </p>
                        </div>
                    </div>
                    <div class="Informatik">
                        <div class="h">
                            <i class="tl-warm"></i>
                            内容摘要(选填)
                        </div>
                        <div class="txt">
                        <textarea placeholder="请输入内容摘要" ng-model="fileglobal.property.sub_title"
                                  edit-filesubname></textarea>
                        </div>
                    </div>
                    <div class="displayTile">
                        <div class="h">
                            <i class="tl-style"></i>
                            模块展示样式
                        </div>

                        <ul class="ui_file_Modelstyle">
                            <li>
                                <a class="clearfix sl" datastyle="1" select-filestyle>
                                    <img src="{{fileglobal.property.back_pic}}-c320"
                                         alt="">
                                    <div>{{fileglobal.property.title}}</div>
                                    <i class="check" ng-if="fileglobal.property.style==1"></i>
                                </a>
                                <a class="clearfix sr" datastyle="2" select-filestyle>
                                    <div>{{fileglobal.property.title}}</div>
                                    <img src="{{fileglobal.property.back_pic}}-c320"
                                         alt="">
                                    <i class="check" ng-if="fileglobal.property.style==2"></i>
                                </a>
                                <a class="clearfix bl" datastyle="3" select-filestyle>
                                    <img src="{{fileglobal.property.back_pic}}-c320"
                                         alt="">
                                    <div>
                                        <h5>{{fileglobal.property.title}}</h5>
                                        <p>{{fileglobal.property.sub_title}}</p>
                                    </div>
                                    <i class="check" ng-if="fileglobal.property.style==3"></i>
                                </a>
                                <a class="clearfix br" datastyle="4" select-filestyle>
                                    <img src="{{fileglobal.property.back_pic}}-c320"
                                         alt="">
                                    <div>
                                        <h5>{{fileglobal.property.title}}</h5>
                                        <p>{{fileglobal.property.sub_title}}</p>
                                    </div>
                                    <i class="check" ng-if="fileglobal.property.style==4"></i>
                                </a>
                                <a class="clearfix cv" datastyle="5" select-filestyle>
                                    <img src="{{fileglobal.property.back_pic}}-c592"
                                         alt="">
                                    <div>
                                        <h5>{{fileglobal.property.title}}</h5>
                                        <p>{{fileglobal.property.sub_title}}</p>
                                    </div>
                                    <i class="check" ng-if="fileglobal.property.style==5"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--分组设置-->
                <div class="grouping">
                    <h3>模块设置/内容模块 <span class="pull-right" ng-click="delGroupFn()"><i
                            class="glyphicon glyphicon-trash"></i>删除</span>
                    </h3>
                    <div class="name">
                        <div class="h">
                            <i class="tl-name"></i>分组名称
                        </div>
                        <input type="text" class="form-control group-name" ng-model="groupglobal.name"
                               datatype="groupname" edit-extitle>
                    </div>
                    <div class="time">
                        <div class="h">
                            <i class="tl-time"></i>分组有效时间
                        </div>
                        <select class="form-control group-time">
                            <option value="1">永久有效</option>
                            <option value="0">自定义有效时间</option>
                        </select>
                        <div class="settime" ng-if="groupglobal.forever==0">
                            <div class="dropdown form-group">
                                <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown"
                                   data-target="#" href="#">
                                    <div class="input-group date">
                                        <input type="text" class="form-control"
                                               data-ng-model="dateRangeStart">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="dateRangeStart"
                                                    data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed' }"
                                                    data-on-set-time="startDateOnSetTime()"
                                                    data-before-render="startDateBeforeRender($dates)"></datetimepicker>
                                </ul>
                            </div>
                            <span>至</span>
                            <div class="dropdown form-group">
                                <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown"
                                   data-target="#"
                                   href="#">
                                    <div class="input-group date">
                                        <input type="text" class="form-control"
                                               data-ng-model="dateRangeEnd">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="dateRangeEnd"
                                                    data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed' }"
                                                    data-on-set-time="endDateOnSetTime()"
                                                    data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="ishide">
                        <div class="h">
                            <i class="tl-hide"></i>有效期内显示分组内容
                        </div>
                        <div class="clearfix">
                            <p class="pull-left">
                                如果设置不显示,用户将只能看到该组内的分类标题,但无法查看内容。
                            </p>
                            <label class="pull-right">
                                <input class="mui-switch mui-switch-anim mui_group" ng-click="editGroupOfferFn()"
                                       type="checkbox">
                            </label>
                        </div>
                    </div>
                </div>

                <!--专题设置-->
                <div class="topic_con">
                    <h3>模块设置/专题模块
                        <span class="pull-right" ng-click="delTopicFn()">
                            <i class="glyphicon glyphicon-trash"></i>删除</span>
                    </h3>
                    <div class="d1">
                        <div class="h">
                            <i class="tl-name"></i>专题名称
                        </div>
                        <input type="text" class="form-control" ng-model="topDetails.title" placeholder="请填写专题名称"
                               edit-topicname>
                    </div>

                    <div class="d2">
                        <div class="h">
                            <i class="tl-img"></i>专题封面图
                        </div>
                        <div class="style">
                            <div class="ui_dir_Modelstyle">
                                <div class="diff"></div>
                                <div class="p1" ng-if="topDetails.img_url.length==1">
                                    <img src="{{topDetails.img_url[0]}}-340" alt="">
                                </div>
                                <div class="p2 clearfix" ng-if="topDetails.img_url.length==2">
                                    <div>
                                        <img src="{{topDetails.img_url[0]}}-340" alt="">
                                    </div>
                                    <div>
                                        <img src="{{topDetails.img_url[1]}}-340" alt="">
                                    </div>
                                </div>
                                <div class="p3 clearfix" ng-if="topDetails.img_url.length==3">
                                    <div class="left">
                                        <img src="{{topDetails.img_url[0]}}-340" alt="">
                                    </div>
                                    <div class="right">
                                        <img src="{{topDetails.img_url[1]}}-340" alt="">
                                        <img src="{{topDetails.img_url[2]}}-340" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="did">
                                <div class="btn" ng-if="topDetails.img_url.length<3" datawhere="topicBg" upload-logo>
                                    上传封面图
                                </div>
                                <div class="btn" ng-if="topDetails.img_url.length>1" ng-click="delTopicImgFn()">删除封面图
                                </div>
                            </div>
                        </div>
                        <p class="warn">支持 JPG/PNG格式, 每张图片不超过1M,图片总数不得超过3张</p>
                    </div>
                    <div class="d3">
                        <div class="h">
                            <i class="tl-hide"></i>有效期内隐藏专题内容
                        </div>
                        <div class="text">
                            <div>如设置不隐藏,用户将只能看到该专题的文件标题,但无法查看内容。</div>
                            <label> <input class="mui-switch mui-switch-anim mui-topic" type="checkbox"
                                           ng-click="topicIsHideFn()"></label>
                        </div>
                    </div>
                    <div class="d4">
                        <div class="h">
                            <i class="tl-time"></i>专题有效时间
                        </div>
                        <select class="form-control topic-time">
                            <option value="1">永久有效</option>
                            <option value="0">自定义有效时间</option>
                        </select>
                    </div>
                    <div class="d5">
                        <div class="h">
                            <i class="tl-style"></i>自定义样式
                        </div>

                        <div class="cen">
                            <p>标题显示在封面中央</p>
                            <div dtype="middle" set-topic-style>
                                <div class="diff"></div>
                                <img src="http://res.meetingfile.com/90947cde8abf548dbefaedfe14c1971f55c27f79.jpg-340"
                                     alt="" width="100%">
                                <div class="content">
                                    <p class="tl">{{topDetails.title}}</p>
                                    <p>共{{topDetails.file_size}}条内容 ></p>
                                </div>
                            </div>
                            <i class="check" ng-if="topDetails['property']['position']=='middle'"></i>
                        </div>
                        <div class="bottom" dtype="under" set-topic-style>
                            <p>样式二:标题显示在封面下方</p>
                            <img src="http://res.meetingfile.com/90947cde8abf548dbefaedfe14c1971f55c27f79.jpg-340"
                                 alt="" width="100%">
                            <div>
                                <h4>{{topDetails.title}}</h4>
                                <p>共{{topDetails.file_size}}条内容</p>
                            </div>
                            <i class="check" ng-if="topDetails['property']['position']=='under'"></i>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<!--  开启资料收集弹出窗口-->
<div class="modal fade" id="openCollectFile" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="myModalLabel3">
                    开启资料收集
                </h5>
            </div>
            <div class="modal-body">
                <div class="warning">
                    开启资料收集,并将上传地址发送给他人,所有收到链接的人均可在此上传文件(上传者之间无法查看其他人上传的文件),实现资料快速收集。
                </div>
                <div class="form-group">
                    <div class="btn" ng-click="openCollection()">开启资料收集</div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--  关闭资料收集弹出窗口-->
<div class="modal fade" id="closeCollectFile" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="myModalLabel4">
                    关闭资料收集
                </h5>
            </div>
            <div class="modal-body">
                <div class="warning">
                    关闭资料收集后,您仍可以管理其他人已上传的文件,但其他人无法再通过之前的链接上传文件。
                </div>
                <div class="form-group">
                    <div class="btn" ng-click="closeCollection()">关闭资料收集</div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--开启资料收集窗口信息-->
<div class="modal fade" id="msgCollectFile" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel5" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="myModalLabel5">
                    开启资料收集
                </h5>
            </div>
            <div class="modal-body">
                <div class="form-group clearfix">
                    <div class="col-sm-8">
                        <h5>上传地址:</h5>
                        <p>{{collectUrl}}</p>
                        <span class="btn" data-clipboard-text="{{collectUrl}}"
                              ng-if="collectUrl" copy-website>复制链接</span>
                    </div>
                    <div class="col-sm-4">
                        <img src="/file/qr?size=160&text={{collectUrl | encodeURIComponent}}" alt="刷新重试">
                    </div>
                </div>

                <div class="collect">
                    <div class="title clearfix">
                        <div class="col-sm-5">文件名</div>
                        <div class="col-sm-2">大小</div>
                        <div class="col-sm-3">上传时间</div>
                        <div class="col-sm-2">操作</div>
                    </div>

                    <div class="info">
                        <div class="loading" ng-if="collectLoading">
                            <span us-spinner="{lines:11,radius:9, width:3, length: 7}"
                                  spinner-on="collectLoading"></span>
                        </div>

                        <div class="empty_list" ng-if="collectList.length==0">
                            <img src="../../../assets/images/1205.png" alt="">
                        </div>
                        <ul ng-if="collectList.length>0">
                            <li class="clearfix" ng-repeat="list in collectList">
                                <div class="col-sm-5" title="{{list.filename}}">{{list.filename}}</div>
                                <div class="col-sm-2">{{list.filesize | bitSize}}</div>
                                <div class="col-sm-3">{{list.create_dateline*1000 | date:"yyyy-MM-dd"}}</div>
                                <div class="col-sm-2">
                                    <a href="{{list.uri}}" title="下载"><i
                                            class="glyphicon glyphicon-save"></i></a>
                                    <i class="glyphicon glyphicon-trash" title="删除"
                                       ng-click="delCollectfile($event,list.fullpath)"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<!--修改背景图片弹出窗口-->
<div class="modal fade" id="changeBannerModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel13" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="myModalLabel13">
                    更换背景图片
                </h5>
            </div>
            <div class="modal-body">
                <p class="tl">自定义图片 :</p>
                <div class="load">
                    <img src="{{currentExbt.banner}}-c592" alt="">
                    <span datawhere="banner" upload-logo> + 自定义上传</span>
                    <s us-spinner="{lines:11,radius:9, width:5, length: 9}" ng-if="imgloading"
                       spinner-on="imgloading"></s>
                </div>
                <p class="warn">提示:仅支持上传JPG、PNG 格式,不超过1M,建议尺寸: 640x360 像素</p>

                <p class="tl">系统预设图片 :</p>
                <div class="bg-banner">
                    <ul class="clearfix">
                        <li ng-repeat="list in bannerList track by $index" select-bgimg>
                            <img src="{{list}}-340" alt="刷新重试">
                            <i></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn">确定</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--//上传文件弹出窗口-->
<div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="myModalLabel1">
                    上传文件
                </h5>
            </div>
            <div class="modal-body">
                <div class="form-group clearfix">
                    <div class="col-sm-6">
                        <div class="btn uploadByLocal" ng-if="uploadstate=='files'" upload-files>从本地上传
                        </div>
                        <div class="btn uploadByLocal" ng-if="uploadstate=='topic'" upload-dir-files>从本地上传
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="btn uploadByCloud" gokuai-cloud>从够快云库中选择</div>
                    </div>
                </div>

                <div class="othergroup">
                    <p></p>
                    <span>其它方式</span>
                </div>
                <div class="form-group">
                    <div class="btn uploadByCollect" ng-if="currentExbt.res_collect" dataselect="collect" select-upload>
                        从「资料收集」选择
                    </div>
                </div>
                <div class="form-group ">
                    <div class="btn uploadByHave" dataselect="types" select-upload>从已有分类选择</div>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--从资料收集中选择文件弹出窗-->
<div class="modal fade" id="fileFromCollect" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel5" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="myModalLabel6">
                    {{collectTitle}}
                </h5>
            </div>
            <div class="modal-body">
                <div class="collect">
                    <div class="title clearfix">
                        <div class="col-sm-1">
                            <!--全选 &nbsp;<input type="checkbox" value="">-->
                        </div>
                        <div class="col-sm-6">文件名</div>
                        <div class="col-sm-2">大小</div>
                        <div class="col-sm-3">上传时间</div>
                    </div>
                    <div class="loading" ng-if="collectLoading">
                        <span us-spinner="{lines:11,radius:9, width:3, length: 7}" spinner-on="collectLoading"></span>
                    </div>
                    <div class="empty_list" ng-if="dataCollectList.length==0">
                        <img src="../../../assets/images/1204.png" alt="">
                    </div>

                    <div class="info" ng-if="dataCollectList.length>0">
                        <ul>
                            <li class="clearfix" ng-repeat="list in dataCollectList"
                                ng-click="list.selects=!list.selects">
                                <!--choose-collect-->
                                <div class="col-sm-1">
                                    <input type="checkbox" class="cb_choose" ng-model="list.selects">
                                </div>
                                <div class="col-sm-6">
                                    <div title="{{list.filename}}">{{list.filename}}</div>
                                </div>
                                <div class="col-sm-2">{{list.filesize | bitSize}}</div>
                                <div class="col-sm-3">{{list.create_dateline*1000 | date:"yyyy-MM-dd"}}</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <p ng-if="dataCollectList.length>0">
                    <input type="checkbox" class="ckb_selectAll" ng-click="ckb_selectFn()"> &nbsp;全选
                </p>
                <div class="btn btn_sure_collect">
                    <div ng-if="btnloading">
                                <span us-spinner="{ color: '#fff',radius: 6, width: 2, lines: 9, length: 5,top:'50%',left:'25%'}"
                                      spinner-on="true"></span>
                    </div>
                    <div ng-click="addSelectFile()" class="btn_ok">确定</div>
                </div>
                <div class="btn" data-dismiss="modal" aria-hidden="true">
                    取消
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<!--  关闭资料收集弹出窗口-->
<div class="modal fade" id="exhibitionCode" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body">
                <p>用微信扫描下方二维码即可浏览该会展内容</p>
                <img src="/file/qr?size=160&text={{currentExbt.unique_code | encodeURIComponent}}"/>


            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="alertMsg" ng-if="alertMsg">
    复制成功
</div>













