<div class="eb-details">
    <div class="eb-slide">
        <div class="bgimg">
            <div class="diff"></div>
            <img src="{{currentExbt.banner}}">
            <div class="nav">
                <div class="content">
                    <div class="pull-left">
                        <a href="http://cell.meetingfile.com/#/exhibition"><i class="home"></i> </a>
                        编辑模式
                        <span>资料收集</span>
                        <label ng-click="checkCollecFn()">
                            <input class="mui-switch mui-switch-anim" type="checkbox"
                                   value="{{currentExbt.res_collect_lock}}"></label>
                        <s ng-if="currentExbt.res_collect_lock!=0" ng-click="showCollection()">查看</s>
                    </div>
                    <div class="mode">
                        <i class="pc"></i>
                        <i class="glyphicon glyphicon-phone">
                            <img src="/file/qr?size=160&text={{currentExbt.unique_code | encodeURIComponent}}">
                        </i>
                    </div>
                    <div class="pull-right">
                        <span>{{currentExbt.property.dir_count}}个分类 &nbsp;{{currentExbt.property.file_count}}个文件 &nbsp;共{{currentExbt.property.size_use | bitSize}}</span>
                    </div>
                </div>
            </div>

            <div class="nav-con" style="text-align: center;">
                <div class="file" title="请上传160x160像素会展Logo">
                    <img src="{{currentExbt.logo}}" alt="" ng-if="currentExbt.logo!=''">
                    <div class="loding" ng-if="imgloading">
                        <span></span>
                        <!--<img src="../images/pass_white.gif.gif" alt="">-->
                    </div>
                    <div id="uploadImgdiv" dataid="{{currentExbt.id}}" upload-logo img-hovers>
                    </div>
                    <div class="img-text-warning"> 点击更换Logo</div>
                </div>
                <div class="name" dataid="{{currentExbt.id}}" dataedit="title" edit-name>{{currentExbt.title}}</div>

                <input class="time" date-range-picker class="form-control date-picker" type="text"
                       ng-model="date" options="opts"/>
                <p class="code">
                    <i class="glyphicon glyphicon-qrcode"><img
                            src="/file/qr?size=160&text={{currentExbt.unique_code | encodeURIComponent}}"></i>
                    <span>{{currentExbt.unique_code}}</span>
                    <a href="javascript:;" data-clipboard-text="{{currentExbt.unique_code}}"
                       ng-if="currentExbt.unique_code" copy-website>复制链接</a>
                </p>
            </div>
        </div>
        <div class="eb-fileload">
            <div class="content">
                <!--<div class="tl">资料下载中心</div>-->
                <div class="navtl">常用文件</div>
                <div class="row">
                    <div ng-repeat="file in FilesList" class="col-md-4">
                        <div class="files clearfix">
                            <i class="img {{ file.filename | getFileIconSuffix }}"></i>
                            <div class="info clearfix">
                                <p><span datapath="{{file.fullpath}}" dataid="{{currentExbt.org_id}}"
                                         dataedit="filename" edit-name>{{file.filename}}</span>
                                </p>
                                <p>{{file.filesize | bitSize}}</p>
                                <i class="glyphicon glyphicon-trash"
                                   ng-click="delFile($event,currentExbt.org_id,file.fullpath,file.filesize)">
                                    <span>删除</span></i>
                            </div>
                            <div class="slide-line" ng-if="file.filewidth && file.filewidth!=100">
                                <div style="width: {{file.filewidth}}%">
                                </div>
                                <i class="glyphicon glyphicon-trash"><span>删除</span></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="files clearfix">
                            <div class="add-files" ng-if="orgid" dataorgid="{{currentExbt.org_id}}"
                                 data-target="#uploadFileModal" data-toggle="modal" ng-click="fileChooser()">
                                <!--upload-files-->
                                <i class="glyphicon glyphicon-plus"></i>上传新文件
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="eb-filesort">
            <div class="content">
                <div class="navtl">分类文件</div>
                <div class="row">
                    <!--<div class="col-md-4" ng-repeat="dir in DirsList">-->
                    <!--<div class="files">-->
                    <!--<p class="title">-->
                    <!--<span datapath="{{dir.fullpath}}" dataid="{{currentExbt.org_id}}"-->
                    <!--dataedit="dirname" edit-name>   {{dir.filename}}</span>-->
                    <!--<i class="glyphicon glyphicon-trash">-->
                    <!--<span ng-click="delDirs($event,dir.fullpath,dir.hash)">删除</span></i>-->
                    <!--</p>-->
                    <!--<p class="size">{{dir.info.file_count}}个文件&nbsp; 共{{dir.info.file_size | bitSize}}</p>-->
                    <!--<a class="btn-showfile" data-toggle="modal" data-target="#loadFileList" ng-click="getDirList(dir.fullpath,dir.hash)">查看/上传文件</a>-->
                    <!--</div>-->
                    <!--</div>-->

                    <div class="col-md-4" ng-repeat="dir in DirsList">
                        <div class="dirs">
                            <div class="bgimg-small">
                                <div class="diff"></div>
                                <img src="{{dir.info.img_url[0]}}-340" alt="">
                                <p class="tl" datapath="{{dir.fullpath}}" dataid="{{currentExbt.org_id}}"
                                   dataedit="dirname"
                                   edit-name="dir.autoEditName">{{dir.fullpath}}</p>
                                <p class="size">{{dir.info.file_count}}个文件&nbsp; 共{{dir.info.file_size | bitSize}}</p>
                            </div>
                            <span class="glyphicon glyphicon-trash"
                                  ng-click="delDirs($event,dir.fullpath,dir.hash)"> </span>
                            <div class="show">
                                <a class="btn-showfile btn" data-toggle="modal" data-target="#loadFileList"
                                   ng-click="getDirList($event,dir.info.img_url[0],dir.fullpath,dir.hash)">查看/上传文件</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="files files-add">
                            <a class="btn-add" ng-if="orgid" dataorgid="{{currentExbt.org_id}}" filesort-add>
                                <!--  data-target="#modalAddDir" data-toggle="modal" -->
                                <i class="glyphicon glyphicon-plus"></i>创建新分类</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="eb-footer">
            <div class="content">
                <div class="visit" ng-if="currentExbt.property.web_site">
                    <a class="btn" href="{{currentExbt.property.web_site}}">访问会展官方主页</a>
                    <a class="edit" dataedit="sitename" dataid="{{currentExbt.id}}"
                       datasite="{{currentExbt.property.web_site}}" edit-name>点击编辑主页地址</a>
                </div>
                <!--<div class="fo">-->
                <!--<i></i>-->
                <!--</div>-->
            </div>
        </div>


        <!--//显示文件夹文件列表-->
        <div class="modal fade" id="loadFileList" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div>
                            <img src="{{thisDirImg}}-340" alt="">
                        </div>
                        <button type="button" class="close"
                                data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h3 class="modal-title" id="myModalLabel" ng-if="thisDirPath">
                            {{thisDirPath}}
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="warp-mask" ng-if="warpMask">
                            <span></span>
                        </div>
                        <ul>
                            <li>
                                <div class="col-sm-5">文件名</div>
                                <div class="col-sm-2">大小</div>
                                <div class="col-sm-3">上传时间</div>
                                <div class="col-sm-2">操作</div>
                            </li>
                            <li ng-repeat="f in dirList">
                                <div class="col-sm-5" title="{{f.filename}}">{{f.filename}}</div>
                                <div class="col-sm-2">{{f.filesize | bitSize}}</div>
                                <div class="col-sm-3">{{f.create_dateline * 1000 | date:"yyyy-MM-dd"}}</div>
                                <div class="col-sm-2">
                                    <a href="{{f.uri}}"><i class="glyphicon glyphicon-save"></i></a>
                                    <i class="glyphicon glyphicon-trash"
                                       ng-click="delDirFiles($event,f.filesize,f.filename,f.hash)"></i>
                                </div>
                                <div class="col-sm-12" ng-if="f.filewidth && f.filewidth!=100">
                                    <div style="width: {{f.filewidth}}%"></div>
                                    <i class="glyphicon glyphicon-trash"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-dir-upload" data-target="#uploadFileModal" data-toggle="modal">文件上传

                            <!--upload-dir-files-->
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>


        <!--//上传文件弹出窗口-->
        <div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel1" aria-hidden="true">
            <div class="modal-dialog" style="width: 400px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h5 class="modal-title" id="myModalLabel1">
                            上传文件
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group clearfix">
                            <div class="col-sm-6">
                                <div class="btn uploadByLocal" ng-if="orgid && !thisDirPath && !thisDirHash"
                                     dataorgid="{{currentExbt.org_id}}"
                                     upload-files>从本地上传
                                </div>
                                <div class="btn uploadByLocal" ng-if="currentExbt.org_id && thisDirPath && thisDirHash"
                                     dataDirPath="{{thisDirPath}}" dataDirhash="{{thisDirHash}}"
                                     dataorgid="{{currentExbt.org_id}}" upload-dir-files>从本地上传
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="btn uploadByCloud" gokuai-cloud>从够快云库中选择</div>
                            </div>
                        </div>

                        <div class="othergroup">
                            <p></p>
                            <span>其它方式</span>
                        </div>
                        <div class="form-group">
                            <div class="btn uploadByCollect">从「资料收集」选择</div>
                        </div>
                        <div class="form-group ">
                            <div class="btn uploadByHave">从已有分类选择</div>
                        </div>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>


        <!--  开启资料收集弹出窗口-->
        <div class="modal fade" id="openCollectFile" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel1" aria-hidden="true">
            <div class="modal-dialog" style="width: 400px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h5 class="modal-title" id="myModalLabel3">
                            开启资料收集
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="warning">
                            开启资料收集,并将上传地址发送给他人,所有收到链接的人均可在此上传文件(上传者之间无法查看其他人上传的文件),实现资料快速收集。
                        </div>
                        <div class="form-group">
                            <div class="btn" ng-click="openCollection()">开启资料收集</div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <!--  关闭资料收集弹出窗口-->
        <div class="modal fade" id="closeCollectFile" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel1" aria-hidden="true">
            <div class="modal-dialog" style="width: 400px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h5 class="modal-title" id="myModalLabel4">
                            关闭资料收集
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="warning">
                            关闭资料收集后,您仍可以管理其他人已上传的文件,但其他人无法再通过之前的链接上传文件。
                        </div>
                        <div class="form-group">
                            <div class="btn" ng-click="closeCollection()">关闭资料收集</div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <!--//开启资料收集窗口信息-->
        <div class="modal fade" id="msgCollectFile" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel5" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h5 class="modal-title" id="myModalLabel5">
                            开启资料收集
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group clearfix">
                            <div class="col-sm-8">
                                <h5>上传地址:</h5>
                                <p>{{collectUrl}}</p>
                                <span class="btn" data-clipboard-text="{{collectUrl}}"
                                      ng-if="collectUrl" copy-website>复制链接</span>
                            </div>
                            <div class="col-sm-4">
                                <img src="/file/qr?size=160&text={{collectUrl | encodeURIComponent}}" alt="刷新重试">
                            </div>
                        </div>

                        <div class="collect">
                            <div class="title clearfix">
                                <div class="col-sm-5">文件名</div>
                                <div class="col-sm-2">大小</div>
                                <div class="col-sm-3">上传时间</div>
                                <div class="col-sm-2">操作</div>
                            </div>

                            <div class="info">
                                <div class="loading" ng-if="collectLoading">
                                    <span></span>
                                </div>
                                <ul>
                                    <li class="clearfix" ng-repeat="list in collectList">
                                        <div class="col-sm-5">{{list.filename}}</div>
                                        <div class="col-sm-2">{{list.filesize | bitSize}}</div>
                                        <div class="col-sm-3">{{list.create_dateline*1000 | date:"yyyy-MM-dd"}}</div>
                                        <div class="col-sm-2">
                                            <a href="{{list.uri}}"><i class="glyphicon glyphicon-save"></i></a>
                                            <i class="glyphicon glyphicon-trash"
                                               ng-click="delCollectfile($event,list.fullpath)"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                        </div>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>


    </div>
</div>
<div class="alertMsg" ng-if="alertMsg">
    复制成功
</div>