<div class="eb-details">
    <div class="eb-slide">
        <img src="../images/bgimg.png">
        <div class="nav">
            <div class="content">
                <div class="pull-left">
                    <i class="home"></i>
                    编辑模式
                    <!--<span>资料收集</span>-->
                    <!--<i class="button"></i>-->
                    <!--<s>直销</s>-->
                </div>

                <button id="copy-button" data-clipboard-text="Copy Me!" title="Click to copy me." ng-click="getboard()">
                    Copy to Clipboard
                </button>

                <div class="mode">
                    <i class="pc"></i>
                    <i class="phone"></i>
                </div>
                <div class="pull-right">
                    <span>{{currentExbt.files.dir_count}}个分类 &nbsp;{{currentExbt.files.file_count}}个文件 &nbsp;共{{  getSize(currentExbt.files.size_use)}}</span>
                </div>
            </div>
        </div>

        <div class="nav-con" style="text-align: center">
            <div class="file">
                <img src="{{currentExbt.logo}}" alt="" ng-if="currentExbt.logo!='' ">
                <div ng-if="currentExbt.logo=='' ">
                    <span>请上传160x160像素会展Logo</span>
                </div>
                <input type="file" class="txt_img" accept="image/png,image/gif" value="">

            </div>
            <div class="name" dataid="{{currentExbt.id}}" dataedit="title" edit-name>{{currentExbt.title}}</div>
            <p><i><img src="http://cell.com/base/qr?size=160&text={{currentExbt.unique_code}}"></i><span>{{currentExbt.unique_code}}</span>
                <a href="javascript:;" id="copyme" data-clipboard-text="Copy Me!" ng-click="copyHttp()">复制链接</a>
            </p>
        </div>

    </div>

    <div class="eb-fileload">
        <div class="content">
            <div class="tl">资料下载中心</div>
            <div class="navtl">常用文件下载</div>
            <div class="row">
                <div ng-repeat="file in currentExbt.files.list" class="col-md-4">
                    <div class="files clearfix">
                        <img src="../images/icon_excel.png" alt="">
                        <div class="info clearfix">
                            <p><span datapath="{{file.fullpath}}" dataid="{{currentExbt.org_id}}" dataedit="filename"
                                     edit-name>{{file.filename}}</span>
                                <i class="glyphicon glyphicon-trash"><span
                                        ng-click="delFile(currentExbt.org_id,file.fullpath)">删除</span></i></p>
                            <p>{{getSize(file.filesize)}}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="files clearfix">
                        <div class="add-files"><i class="glyphicon glyphicon-plus"></i>上传新文件
                            <input type="file">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="eb-filesort">
        <div class="content">
            <div class="navtl">常用文件下载</div>
            <div class="row">
                <div class="col-md-4" ng-repeat="dir in currentExbt.files.dirs">
                    <div class="files" datapath="{{dir.fullpath}}">
                        <p class="title"><span datapath="{{dir.fullpath}}" dataid="{{currentExbt.org_id}}"
                                               dataedit="dirname" edit-name>   {{dir.filename}}</span>
                            <i class="glyphicon glyphicon-trash"><span
                                    ng-click="delFile(currentExbt.org_id,dir.fullpath)">删除</span></i>
                        </p>
                        <p class="size">{{dir.filecount}}个文件&nbsp; 共{{getSize(dir.filesize)}}</p>
                        <a class="btn-showfile" data-toggle="modal" data-target="#loadFileList">查看/上传文件</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="files files-add">
                        <a class="btn-add" ng-click="addFolder(currentExbt.org_id)"><i
                                class="glyphicon glyphicon-plus"></i>创建新分类</a>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="eb-footer">
        <div class="content">
            <div class="visit">
                <a class="btn">访问会展官方主页</a>
                <a class="edit">点击编辑主页地址</a>
            </div>

            <div class="fo">
                <i></i>
            </div>
        </div>
    </div>


    <div class="modal fade" id="loadFileList" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h5 class="modal-title" id="myModalLabel">
                        大会宣传资料
                    </h5>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>
                            <div class="col-sm-6">文件名</div>
                            <div class="col-sm-3">大小</div>
                            <div class="col-sm-3">上传时间</div>
                        </li>
                        <li>
                            <div class="col-sm-6">迪士尼乐园.mv</div>
                            <div class="col-sm-3">404.9MB</div>
                            <div class="col-sm-3">2015-10-15</div>
                        </li>
                        <li>
                            <div class="col-sm-6">迪士尼乐园.mv</div>
                            <div class="col-sm-3">404.9MB</div>
                            <div class="col-sm-3">2015-10-15</div>
                        </li>
                        <li>
                            <div class="col-sm-6">迪士尼乐园.mv</div>
                            <div class="col-sm-3">404.9MB</div>
                            <div class="col-sm-3">2015-10-15</div>
                        </li>
                        <li>
                            <div class="col-sm-6">迪士尼乐园.mv</div>
                            <div class="col-sm-3">404.9MB</div>
                            <div class="col-sm-3">2015-10-15</div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="btn btn-primary">上传文件
                        <input type="file" class="usual-fileLoad">
                    </div>

                    <button type="button" class="btn btn-default"
                            data-dismiss="modal"> 关 闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>


</div>

