<!--<ul class="exhibition-list">-->
<!--<li ng-repeat="exhibition in exhibitions">-->
<!--<a href="/#/exhibition/{{exhibition.id}}" ng-bind="exhibition.name"></a>-->
<!--</li>-->
<!--</ul>-->
<div class="article">
    <div class="current">
        <div class="content">
            <div class="tl">
                <span>当前的会展</span>
                <p class="line"></p>
            </div>

            <div class="row">

                <div class="col-md-4" ng-repeat="exhibition in exhibitions">
                    <div class="trans">
                        <div class="thumbnail">
                            <div class="img">
                                <img src="../images/img_1.png" alt="等待加载">
                            </div>
                            <div class="caption">
                                <h4>够快云畅想博览会 <span class="pull-right">正在举行</span></h4>
                                <p>包含10个分类 128个文件 共233MB</p>
                                <div class="mg">
                                    <i hover-trans></i>
                                    <a href="/#/exhibition/{{exhibition.id}}">管理</a>
                                </div>
                            </div>
                        </div>
                        <div class="thumcode">
                            <img src="../images/qcode.png" alt="等待加载">
                            <p>分享链接: <span>http://www.gokuai.com</span></p>
                            <a>复制链接</a>
                        </div>
                    </div>
                </div>

                <!--<div class="col-md-4">-->
                    <!--<div class="trans">-->
                        <!--<div class="thumbnail">-->
                            <!--<div class="img">-->
                                <!--<img src="../images/img_5.png" alt="等待加载"></div>-->
                            <!--<div class="caption">-->
                                <!--<h4>第二届银河SOHO光影艺术 <span class="pull-right">正在举行</span></h4>-->
                                <!--<p>包含10个分类 128个文件 共233MB</p>-->
                                <!--<div class="mg">-->
                                    <!--<i></i>-->
                                    <!--<span>管理</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="thumcode">-->
                            <!--<img src="../images/qcode.png" alt="等待加载">-->
                            <!--<p>分享链接: <span>http://www.gokuai.com</span></p>-->
                            <!--<a>复制链接</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<div class="trans">-->
                        <!--<div class="thumbnail">-->
                            <!--<div class="img">-->
                                <!--<img src="../images/img_3.png" alt="等待加载"></div>-->
                            <!--<div class="caption">-->
                                <!--<h4>够快云畅想博览会 <span class="pull-right">正在举行</span></h4>-->
                                <!--<p>包含10个分类 128个文件 共233MB</p>-->
                                <!--<div class="mg">-->
                                    <!--<i></i>-->
                                    <!--<span>管理</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="thumcode">-->
                            <!--<img src="../images/qcode.png" alt="等待加载">-->
                            <!--<p>分享链接: <span>http://www.gokuai.com</span></p>-->
                            <!--<a>复制链接</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<div class="trans">-->
                        <!--<div class="thumbnail">-->
                            <!--<div class="img">-->
                                <!--<img src="../images/img_3.png" alt="等待加载"></div>-->
                            <!--<div class="caption">-->
                                <!--<h4>够快云畅想博览会 <span class="pull-right">正在举行</span></h4>-->
                                <!--<p>包含10个分类 128个文件 共233MB</p>-->
                                <!--<div class="mg">-->
                                    <!--<i></i>-->
                                    <!--<span>管理</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="thumcode">-->
                            <!--<img src="../images/qcode.png" alt="等待加载">-->
                            <!--<p>分享链接: <span>http://www.gokuai.com</span></p>-->
                            <!--<a>复制链接</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="col-md-4">
                    <div class="trans">
                        <div class="thumbadd">
                            <img src="../images/button_add.png" alt="等待加载">
                            <p>创建新会展</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class="end-current">

        <div class="content">
            <div class="tl">
                <span>已结束的会展</span>
                <p class="line"></p>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="trans">
                        <div class="thumbnail">
                            <div class="img">
                                <img src="../images/img_4.png" alt="等待加载">
                            </div>
                            <div class="caption">
                                <h4>够快云畅想博览会 </h4>
                                <p>包含10个分类 128个文件 共233MB</p>
                                <div class="mg">
                                    <i></i>
                                    <span>查看</span>
                                </div>
                            </div>
                        </div>
                        <div class="thumcode">
                            <img src="../images/qcode.png" alt="等待加载">
                            <p>分享链接: <span>http://www.gokuai.com</span></p>
                            <a>关闭站点</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="trans">
                        <div class="thumbnail">
                            <div class="img">
                                <img src="../images/img_2.png" alt="等待加载">
                            </div>
                            <div class="caption">
                                <h4>够快云畅想博览会</h4>
                                <p>包含10个分类 128个文件 共233MB</p>
                                <div class="mg">
                                    <i></i>
                                    <span>查看</span>
                                </div>
                            </div>
                        </div>
                        <div class="thumcode">
                            <img src="../images/qcode.png" alt="等待加载">
                            <p>分享链接: <span>http://www.gokuai.com</span></p>
                            <a>关闭站点</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="trans">
                        <div class="thumbnail">
                            <div class="img">
                                <img src="../images/img_6.png" alt="等待加载">
                            </div>
                            <div class="caption">
                                <h4>够快云畅想博览会</h4>
                                <p>包含10个分类 128个文件 共233MB</p>
                                <div class="mg">
                                    <i></i>
                                    <span>查看</span>
                                </div>
                            </div>
                        </div>
                        <div class="thumcode">
                            <img src="../images/qcode.png" alt="等待加载">
                            <p>分享链接: <span>http://www.gokuai.com</span></p>
                            <a>关闭站点</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="reminds"><i></i>由够快云库提供技术支持</div>
    </div>
</div>

