<div class="FILE_MODE">

    <!--<div style="width: 600px; padding: 30px">-->
    <!--<div class="dropdown form-group">-->
    <!--<label>Start Date</label>-->
    <!--<a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target="#" href="#">-->
    <!--<div class="input-group date">-->
    <!--<input type="text" class="form-control" data-ng-model="dateRangeStart">-->
    <!--<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>-->
    <!--</div>-->
    <!--</a>-->
    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">-->
    <!--<datetimepicker data-ng-model="dateRangeStart"-->
    <!--data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed' }"-->
    <!--data-on-set-time="startDateOnSetTime()"-->
    <!--data-before-render="startDateBeforeRender($dates)"></datetimepicker>-->
    <!--</ul>-->
    <!--</div>-->
    <!--<div class="dropdown form-group">-->
    <!--<label>End Date</label>-->
    <!--<a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown" data-target="#"-->
    <!--href="#">-->
    <!--<div class="input-group date">-->
    <!--<input type="text" class="form-control" data-ng-model="dateRangeEnd">-->
    <!--<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>-->
    <!--</div>-->
    <!--</a>-->
    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">-->
    <!--<datetimepicker data-ng-model="dateRangeEnd"-->
    <!--data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed' }"-->
    <!--data-on-set-time="endDateOnSetTime()"-->
    <!--data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->


    <!--<div class="mobile_model">-->
    <!--<div class="mobile">-->
    <!--<span class="voice"></span>-->
    <!--<div class="screen">-->

    <!--</div>-->
    <!--<span class="home"></span>-->
    <!--</div>-->
    <!--</div>-->

    <div class="nav-bar clearfix">
        <div class="left">
            <div class="slide clearfix">
                <div class="info">
                    <img src="../../../assets/images/1124.png" alt="">
                    <div>
                        <h5>大漠孤烟</h5>
                        <p>超级管理员</p>
                    </div>
                </div>
                <i class="glyphicon glyphicon-th-list" state="{{stateMode}}" slide-animate></i>
            </div>
            <div class="pModel">
                <a href="http://www.meetfile.com" class=""><i class="home"></i></a>
                <span>编辑模式</span>
            </div>
        </div>
        <div class="right">
            <span class="switch">资料收集:&nbsp;已关闭
                <span ng-if="currentExbt.res_collect_lock==-1">:&nbsp;已关闭</span>
                 <span ng-if="currentExbt.res_collect_lock==1">:&nbsp;已开启</span> </span>
            <label ng-click="checkCollecFn()">
                <input class="mui-switch mui-switch-anim" type="checkbox"
                       value="{{currentExbt.res_collect_lock}}"></label>
            <s ng-click="showCollection()">查看</s>
            <div class="size">
                <span>1个分组 ,&nbsp;3个专题 ,&nbsp;15条内容 ,&nbsp;共11.34MB</span>
            </div>

            <div class="btn upgrade">升级</div>
            <div class="btn save_publish"><i class="glyphicon glyphicon-floppy-open"></i>保存和发布</div>

        </div>
    </div>
    







</div>

