<div class="wecontent">
    <div class="mobileindex">
        <div class="navtop">
            <div class="diff"></div>
            <img class="m-bgimg" src="{{EXfileList.banner}}-640" alt="" width="100%"/>
            <div class="con">
                <div class="img"><img src="{{EXfileList.logo}}" alt=""/></div>
                <p class="tl">{{EXfileList.title}}</p>
                <p class="time">{{EXfileList.start_date}} - {{EXfileList.end_date}}</p>
                <div class="code">
                    <a href="#ModalCode" class="glyphicon glyphicon-qrcode" data-toggle="modal"
                       data-target="#ModalCode"></a>
                    <!---->
                    <!--<img src="../images/icon_qcode.png" alt="" />-->
                </div>
            </div>

        </div>

        <div class="blocklist">
            <div class="warp-mark" ng-if="loading">
                <span></span>
            </div>


            <ul>
                <li ng-repeat="file in FilesList">
                    <a href="#/mobile_file/{{pageunicode}}/{{file.fullpath}}">
                        <span class="img {{ file.filename | getFileIconSuffix }}"></span>
                        <!--<img src="../images/icon_pdf.png" alt=""/>-->
                        <div>{{file.filename}}</div>
                        <i class="pull-right"></i>
                    </a>
                </li>
                <li style="height: 0">
                    <div class="more" ng-if="showMore" ng-click="showMoreFile()">
                        <i class="glyphicon glyphicon-chevron-down"></i>查看全部
                    </div>
                </li>
            </ul>
            <!--<div class="more" ng-if="!showMore" ng-click="showLessFile()">收起文件</div>-->
        </div>

        <div class="listCollection">
            <ul>
                <li ng-repeat="dir in DirsList">
                    <a class="con" href="#/mobile_folder/{{pageunicode}}/{{dir.hash}}/{{dir.fullpath}}">
                        <div class="bg">
                            <img src="{{dir.info.img_url[0]}}-340" alt="">
                            <div class="diff"></div>
                        </div>
                        <div class="title">
                            <div class="tl">{{dir.filename}}</div>
                            <div class="count">
                                {{dir.info.file_count}}条内容
                                <i></i>
                            </div>
                        </div>
                        <!--<p class="pull-left">{{dir.filename}}</p>-->
                        <!--<p class="pull-right">{{dir.info.file_count}} 条内容 <i class="glyphicon glyphicon-menu-right"></i></p>-->
                    </a>
                </li>
            </ul>
        </div>
        <div class="wefooter">
            <!--<div>访问会展官方主页</div>-->
            <p>
                <a></a>
            </p>
        </div>


        <!--<div class="footer">-->
        <!--<i></i>-->
        <!--<span>收藏并保存会展文件</span>-->
        <!--</div>-->

    </div>
</div>

<div class="modal fade" id="ModalCode" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>提示: 请扫描二维码访问当前会展</p>
                <img src="/file/qr?size=160&text={{pageCode | encodeURIComponent}}"
                     alt="等待加载">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>



