<!--<div class="mobiletitle">-->
<!--{{dirName}}-->
<!--</div>-->
<div class="wecontent">
    <div class="mobile-dir-info">
        <div class="bg">
            <img src="{{dirInfo.img_url[0]}}-340" alt="加载失败">
            <div class="diff"></div>
        </div>
        <!--<a class="glyphicon glyphicon-menu-left" href="javascript:history.back();"></a>-->
        <p class="info">{{dirName}} <span class="pull-right">{{dirInfo.file_count}}条内容</span></p>
    </div>


    <div class="blocklist">
        <div class="warp-mark" ng-if="loading">
            <span></span>
        </div>
        <div class="empty_list" ng-if="ExbtCurrent.length==0">
            <img src="../images/102.png" alt="">
        </div>
        <ul ng-if="ExbtCurrent.length>0">
            <li ng-repeat="file in ExbtCurrent">
                <a href="#/mobile_file/{{pageunicode}}/{{file.fullpath}}">
                    <span class="img {{file.filename | getFileIconSuffix}}"></span>
                    <div>
                        {{file.filename}}
                    </div>
                    <i class="pull-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>