<div class="wecontent">
    <div class="navtop">
        <img src="../images/we_bg.png" alt="" width="100%"/>
        <div class="con">
            <div class="img"><img src="../images/profile.png" alt=""/></div>
            <p class="tl">{{EXfileList.title}}</p>
            <p class="time">{{EXfileList.start_date}} - {{EXfileList.end_date}}</p>
            <div class="code">
                <img src="../images/icon_qcode.png" alt="" data-toggle="modal" data-target="#ModalCode"/>
            </div>
        </div>
    </div>

    <div class="blocklist">
        <ul>
            <li ng-repeat="file in FilesList">
                <a href="#/mobile_file/{{thisunicode}}/{{file.fullpath}}">
                    <span class="img {{ file.filename | getFileIconSuffix }}"></span>
                    <!--<img src="../images/icon_pdf.png" alt=""/>-->
                    <div>{{file.filename}}</div>
                    <i class="pull-right"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="listCollection">
        <ul>
            <li ng-repeat="dir in DirsList">
                <a href="#/mobile_folder/{{EXfileList.unique_code}}/{{dir.fullpath}}">
                    <p class="pull-left">{{dir.filename}}</p>
                    <p class="pull-right">{{dir.info.file_count}} 条内容 <i class="glyphicon glyphicon-menu-right"></i></p>
                </a>
            </li>

        </ul>
    </div>
    <div class="wefooter">
        <!--<div>访问会展官方主页</div>-->
        <p>
            <a></a>
        </p>
    </div>


    <!--<div class="footer">-->
    <!--<i></i>-->
    <!--<span>收藏并保存会展文件</span>-->
    <!--</div>-->

</div>


<div class="modal fade" id="ModalCode" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>提示: 请扫描二维码访问当前会展</p>
                <img src="http://cell.goukuai.cn/file/qr?size=160&text={{pageCode | encodeURIComponent}}"
                     alt="等待加载">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>



